block content
    .complex-card-description
        .complex-card-description__wrap
            p Ключевые требования современного бизнеса — скорость и мобильность. Для оперативного решения возникающих задач сотрудникам необходим доступ к корпоративным ресурсам в любое время и в любом месте: дома, в командировке или в отпуске. В таком случае доступ к корпоративным ресурсам, как правило, осуществляется через недоверенную сеть Интернет.
            p При обработке в информационной системе компании сведений, подлежащих обязательной защите в соответствии с российским законодательством, например, персональных данных (ПДн), становится необходимым использование средств защиты информации (СЗИ), сертифицированных регуляторами: ФСБ России и ФСТЭК России.
            p Решение С-Терра позволяет реализовать:
            ul
                li безопасный удаленный доступ с АРМ под управлением ОС Windows и Linux;
                li безопасный удаленный доступ с мобильных устройств: Android, iOS, и т.д;
                li выполнение требований российского законодательства по защите информации.