<!-- JUMBOTRON -->

.jumbotron
  .container
    #home-slider.fade-slider(data-auto)
      .fade-slider-slides

        // SLIDE
        section.fade-slider-slide.active

          .home-banner
            .home-banner__content
              .home-banner__text Обеспечиваем современными решениями для построения VPN
              button.btn.btn-accent(type="button") Выбрать решение
            .home-banner__img
              img(src="./img/icons/lighthouse.png", alt="")


        // SLIDE
        section.fade-slider-slide

          .home-banner
            .home-banner__content
              .home-banner__text Обеспечиваем современными решениями для построения VPN (2)
              button.btn.btn-accent(type="button") Выбрать решение
            .home-banner__img
              img(src="./img/icons/lighthouse.png", alt="")


        // SLIDE
        section.fade-slider-slide
          .home-banner
            .home-banner__content
              .home-banner__text Обеспечиваем современными решениями для построения VPN (3)
              button.btn.btn-accent(type="button") Выбрать решение
            .home-banner__img
              img(src="./img/icons/lighthouse.png", alt="")

      .fade-slider-pagination

<!-- /JUMBOTRON -->
