extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content

    .page

        include components/header/index.pug
        .press-public
            main.page-main

            +breadcrumb(['Главная '], ' / Пресс-центр — Публикации')

            include pages/press-public/index

        include components/footer/index.pug