extends helpers/uikit-layout.pug

block append head
  style(type="text/css").
    .block {
      width: 100%;
      height: 100px;
      background: pink;
      margin-bottom: 20px;
      padding: 20px;
    }
    th {
      padding: 10px;
      border-bottom: 2px solid var(--border);
    }
    td {
      padding: 10px;
      border-bottom: 1px solid var(--border);
    }

block content
  include mixins/icon.pug

  .container
    h1.m-b UI Ki

    h2.m-b Сетка

    p.m-b 12 колонок

    table.m-b
      thead
        tr
          th Префикс
          th Разрешение
          th Пример

      tbody
        tr
          td -
          td &gt;0 пикселей
          td .col-6

        tr
          td md
          td &gt;768 пикселей (tablet-up)
          td .col-sm-6

        tr
          td lg
          td &gt;1280 пикселей (sm-desktop-up)
          td .col-md-6


    .row
      - var n = 0;
      while n < 6
        - n++
        .col.col-1
          .block
            |.col-1
      - var n = 0;
      while n < 3
        - n++
        .col.col-2
          .block
            |.col-2
    .row
      - var n = 0;
      while n < 6
        - n++
        .col.col-12.col-sm-6.col-md-3
          .block
            |.col-12.col-sm-6.col-md-3
