-
    var awards = [
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 1,
            image: './img/awards/1.png'
        },
        {
            title: 'Диплом «Инфофорум — 2020»',
            description: 'Диплом по результатам 22-го Национального форума информационной безопасности «Инфофорум‑2020».',
            type: 2,
            image: './img/awards/2.png'
        },
        {
            title: 'Памятный знак за участие в Международном конгрессе по кибербезопасности (ICC-2019)',
            description: '20–21 июня 2019 года в Москве прошел Международный конгресс по кибербезопасности, организованный Сбербанком России. Компания «С-Терра СиЭсПи» выступила партнером зоны делового общения мероприятия.',
            type: 1,
            image: './img/awards/3.png'
        },
        {
            title: 'Диплом «Уральский форум — 2019»',
            description: 'Диплом по результатам XI Уральского форума «Информационная безопасность финансовой сферы — 2019».',
            type: 2,
            image: './img/awards/4.png'
        },
        {
            title: 'Диплом «Инфофорум — 2019»',
            description: 'Диплом по результатам 21-го национального форума информационной безопасности «Инфофорум — 2019».',
            type: 1,
            image: './img/awards/5.png'
        },
        {
            title: 'Диплом ITsec-2018',
            description: 'Памятный диплом по итогам выставки ITsec-2018.',
            type: 2,
            image: './img/awards/6.png'
        },
        {
            title: 'Диплом «Инфофорум Югра — 2018»',
            description: 'Диплом по результатам 2-ой Международной конференции по информационной безопасности с участием стран БРИКС, ШОС, ОДКБ.',
            type: 1,
            image: './img/awards/7.png'
        },
        {
            title: 'Диплом «Инфофорум-2018»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 2,
            image: './img/awards/8.png'
        }
    ]