-
    var catalogCompl= [
        {
            title: 'Финансовый сектор',
            description: 'Высокопроизводительные, надежные и оптимальные по стоимости решения для защиты сетевого взаимодействия в банках, страховых и инвестиционных компаниях',
            type: 3,
            icon: 'catalog-ind-1',
            iwidth: 46,
            iheight: 49
        },
        {
            title: 'Государственный сектор',
            description: 'Надежные и оптимальные по стоимости решения на базе собственных продуктов С-Терра VPN – сертифицированных программных и программно-аппаратных...',
            type: 3,
            icon: 'catalog-ind-2',
            iwidth: 56,
            iheight: 46
        },
        {
            title: 'Топливно-энергетическая отрасль',
            description: 'Высокопроизводительные, надежные и оптимальные по стоимости решения для защиты сетевого взаимодействия компаний ТЭК и т.п.',
            type: 3,
            icon: 'catalog-ind-3',
            iwidth: 41,
            iheight: 46
        },
        {
            title: 'Телекоммуникационная отрасль',
            description: 'Решения для защиты сетевого взаимодействия для операторов связи, облачных провайдеров и иных компаний, предоставляющих услуги связи',
            type: 3,
            icon: 'catalog-ind-4',
            iwidth: 42,
            iheight: 50
        },

    ]