-
  var about = {
    id: 'about',
    name: 'О компании',
    link: '#',
    items: [
      { link: '#', name: 'Основная информация' },
      { link: '#', name: 'Награды и благодарности' },
      { link: '#', name: 'Работа у нас' }
    ]
  };

  var catalog = {
    id: 'catalog',
    name: 'Каталог',
    active: true,
    link: '#',
    items: [
      {
        link: '#',
        name: 'Продукты',
        items: [
          {
            link: '#',
            name: 'Программные средства',
            active: true,
            class: 'offset',
            items: [
              { link: '#', name: 'С-Терра Клиент' },
              { link: '#', name: 'С-Терра Клиент А' },
            ]
          },
          {
            link: '#',
            name: 'Шлюзы безопасности',
            class: 'offset',
            items: [
              { link: '#', name: 'С-Терра Шлюз' },
              { link: '#', name: 'С-Терра Шлюз DP' },
              { link: '#', name: 'С-Терра Юнит' },
              { link: '#', name: 'С-Терра Виртуальный Шлюз' },
              { link: '#', name: 'С-Терра для Cisco' },
              { link: '#', name: 'Криптомаршрутизатор ESR-ST' },
              { link: '#', name: 'С-Терра Шлюз Е' },
              { link: '#', name: 'С-Терра Виртуальный Шлюз Е' },
            ]
          },
          {
            link: '#',
            name: 'Специальные решения',
            class: 'offset',
            items: [
              { link: '#', name: 'С-Терра L2' },
              { link: '#', name: 'С-Терра СОВ' },
            ]
          },
          {
            link: '#',
            name: 'Система управления',
            class: 'offset',
            items: [
              { link: '#', name: 'С-Терра КП' },
            ]
          },
        ]
      },
      {
        link: '#',
        name: 'Отраслевые решения',
        class: 'offset',
        items: [
          { link: '#', name: 'Финансовый сектор' },
          { link: '#', name: 'Государственный сектор' },
          { link: '#', name: 'Топливно-энергетическая отрасль' },
          { link: '#', name: 'Телекоммуникационная отрасль' },
        ]
      },
      {
        link: '#',
        name: 'Комплексные решения',
        class: 'offset',
        items: [
          { link: '#', name: 'Защита канала 10 Гбит и больше' },
          { link: '#', name: 'Обнаружение вторжений' },
          { link: '#', name: 'Защита удаленного доступа' },
          { link: '#', name: 'Защита персональных данных' },
          { link: '#', name: 'Защита межфилиальных взаимодействий' },
          { link: '#', name: 'Защита виртуализации' },
          { link: '#', name: 'Защита подключения к СМЭВ' },
          { link: '#', name: 'Защита подключения к ИС ЕПТ' },
        ]
      },
      {
        link: '#',
        name: 'Прайс-листы',
      },
    ]
  };

  var support = {
    id: 'support',
    name: 'Поддержка',
    link: '#',
    items: [
      { link: '#', name: 'Техническая поддержка' },
      { link: '#', name: 'Часто задаваемые вопросы (FAQ)' },
      { link: '#', name: 'Загрузки' },
      { link: '#',
        name: 'Документация',
        class: 'offset',
        items: [
        { link: '#', name: 'Сертификаты на продукцию' },
        { link: '#', name: 'Лицензии и свидетельства' },
        { link: '#', name: 'Нормативные документы' }
      ]},
      { link: '#', name: 'Обучение', class: 'offset', items: [
        { link: '#', name: 'Курсы' },
        { link: '#', name: 'Видеоуроки' }
      ]}
    ]
  };

  var press = {
    id: 'press',
    name: 'Пресс-центр',
    link: '#',
    items: [
      { link: '#', name: 'Новости' },
      { link: '#', name: 'Объявления' },
      { link: '#', name: 'Мероприятия' },
      { link: '#', name: 'Вебинары' },
      { link: '#', name: 'Публикации' },
      { link: '#', name: 'Маркетинговые материалы' },
    ]
  };

  var partners = {
    id: 'partners',
    name: 'Партнеры',
    link: '#',
  };

  var contacts = {
    id: 'contacts',
    name: 'Контакты',
    link: '#',
  };

  var menu = {
    about,
    catalog,
    support,
    press,
    partners,
    contacts
  }
