-
  var articles = [
    {
      img: './img/news/1.png',
      link: "#",
      date: '7 октября 2021',
      title: 'С-Терра на GIS Days 2021',
      text: 'Компания «С-Терра СиЭсПи» принимает участие в форуме «Global Information Security Days 2021», посвященном технологической безопасности и новой киберреальности. ',
      type: 'news',
    },
    {
      img: false,
      link: "#",
      date: '9 июня 2021',
      title: 'С-Терра TLS Шлюз 4.3 успешно прошел испытания',
      text: 'Доказана совместимость С‑Терра TLS Шлюз 4.3 и эталонной реализации российских криптоалгоритмов для протокола TLS 1.2.',
      type: 'events',
    },
    {
      img: './img/news/3.png',
      link: "#",
      date: '21 мая 2021',
      title: 'Итоги вебинара про С-Терра КП и С-Терра Клиент',
      text: '20 мая 2021 г «С‑Терра СиЭсПи» провела вебинар «Версия 4.3. С‑Терра КП и С‑Терра Клиент». Презентация и запись вебинара размещены на сайте',
      type: 'updates',
    },
    {
      img: false,
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'news',
    },
    {
      img: './img/news/1.png',
      link: "#",
      date: '7 октября 2021',
      title: 'С-Терра на GIS Days 2021',
      text: 'Компания «С-Терра СиЭсПи» принимает участие в форуме «Global Information Security Days 2021», посвященном технологической безопасности и новой киберреальности. ',
      type: 'events',
    },
    {
      img: './img/news/2.png',
      link: "#",
      date: '9 июня 2021',
      title: 'С-Терра TLS Шлюз 4.3 успешно прошел испытания',
      text: 'Доказана совместимость С‑Терра TLS Шлюз 4.3 и эталонной реализации российских криптоалгоритмов для протокола TLS 1.2.',
      type: 'updates',
    },
    {
      img: './img/news/3.png',
      link: "#",
      date: '21 мая 2021',
      title: 'Итоги вебинара про С-Терра КП и С-Терра Клиент',
      text: '20 мая 2021 г «С‑Терра СиЭсПи» провела вебинар «Версия 4.3. С‑Терра КП и С‑Терра Клиент». Презентация и запись вебинара размещены на сайте',
      type: 'news',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    },
    {
      img: './img/news/4.png',
      link: "#",
      date: '30 марта 2020',
      title: 'Решения С-Терра для подключения к Единому Порталу Тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.',
      type: 'events',
    }
  ]
