-
    var modifications = [
        {
            title: 'С-Терра Шлюз 100',
            description: 'Малые офисы, банкоматы, подключение к гос. системам',
            image: './img/product-card/modification/1.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '150',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '90',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: '10 / 200',
                    icon: false
                },
            ]
        },
        {
            title: 'С-Терра Шлюз 1000 / 2000',
            description: 'Небольшие офисы',
            image: './img/product-card/modification/2.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '405 / 1060',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '270 / 690',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: '50 / 500',
                    icon: false
                },
            ]
        },
        {
            title: 'С-Терра Шлюз 3000',
            description: 'Средние офисы',
            image: './img/product-card/modification/3.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '1510',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '1200',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: '1000',
                    icon: false
                },
            ]
        },
        {
            title: 'С-Терра Шлюз 7000 / 8000',
            description: 'Крупные офисы, ЦОД',
            image: './img/product-card/modification/4.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '5710 / 9290',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '3460 / 3950',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: 'не ограничено',
                    icon: false
                },
            ]
        },
        {
            title: 'С-Терра Шлюз 100',
            subtitle: 'в промышленном исполнении',
            description: 'Для эксплуатации в сложных условиях окружающей среды',
            extra: 'Весь текст',
            image: './img/product-card/modification/5.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '74',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '42',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: '10',
                    icon: false
                },
            ]
        },
        {
            title: 'С-Терра Шлюз 7000 / 8000',
            description: 'Крупные офисы, ЦОД',
            image: './img/product-card/modification/6.png',
            blocks: [
                {
                    title: 'Макс. производительность шифрования, Мбит/c',
                    value: '5710 / 9290',
                    icon: true
                },
                {
                    title: 'Макс. производительность шифрования IMIX, Мбит/c',
                    value: '3460 / 3950',
                    icon: true
                },
                {
                    title: 'Количество туннелей',
                    value: 'не ограничено',
                    icon: false
                },
            ]
        },
    ]