-
    var supportVideo = [
        {
            title: '<b>Урок 1:</b> Как выбрать VPN продукт?',
            image: './img/support-education/video-1.png'
        },
        {
            title: '<b>Урок 2:</b> Как быстро развернуть демо стенд?',
            image: './img/support-education/video-2.png'
        },
        {
            title: '<b>Урок 3:</b> Как развернуть собственный Удостоверяющий Центр?',
            image: './img/support-education/video-3.png'
        },
        {
            title: '<b>Урок 4:</b> IPsec VPN ГОСТ. Как создать цифровой сертификат?',
            image: './img/support-education/video-4.png'
        },
        {
            title: '<b>Урок 5:</b> IPsec VPN ГОСТ. Как конвертировать ключевой контейнер?',
            image: './img/support-education/video-5.png'
        },
        {
            title: '<b>Урок 6:</b> IPsec VPN ГОСТ. Как создать дистрибутив С-Терра Клиент?',
            image: './img/support-education/video-6.png'
        },
        {
            title: '<b>Урок 7:</b> IPsec VPN ГОСТ. Как настроить систему управления С-Терра КП?',
            image: './img/support-education/video-7.png'
        },
        {
            title: '<b>Урок 8:</b> IPsec VPN ГОСТ. Как интегрировать С-Терра КП в мою сеть?',
            image: './img/support-education/video-8.png'
        },
        {
            title: '<b>Урок 9:</b> IPsec VPN ГОСТ. Массовое обновление сертификатов',
            image: './img/support-education/video-9.png'
        },
        {
            title: '<b>Урок 10:</b> IPsec VPN ГОСТ. Как быстро настроить кластер?',
            image: './img/support-education/video-10.png'
        },
        {
            title: '<b>Урок 11:</b> IPsec VPN ГОСТ. Мониторинг: syslog, SNMP, Zabbix',
            image: './img/support-education/video-11.png'
        },
        {
            title: '<b>Урок 11:</b> IPsec VPN ГОСТ. Мониторинг: syslog, SNMP, Zabbix',
            image: './img/support-education/video-11.png'
        },
        {
            title: '<b>Урок 11:</b> IPsec VPN ГОСТ. Мониторинг: syslog, SNMP, Zabbix',
            image: './img/support-education/video-11.png'
        },
    ]