-
    var supportDocumentation3 = [
        {
            title: '№ 2021611361',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Клиент А ST</b>',
                'От 26.01.2021',
            ],
            image: './img/support-documentation/s1.png'

        },
        {
            title: '№ 2020619058',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Шлюз DP ST</b>',
                'От 10.08.2020',
            ],
            image: './img/support-documentation/s2.png'

        },
        {
            title: '№ 2020610095',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Юнит</b>',
                'От 09.01.2020',
            ],
            image: './img/support-documentation/s3.png'

        },
        {
            title: '№ 2019621845',
            subtitle: 'База данных',
            list: [
                '<b>С-Терра БРП</b>',
                'От 23.10.2019',
            ],
            image: './img/support-documentation/s4.png'

        },
        {
            title: '№ 2017613204',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра СОВ</b>',
                'От 13.03.2017',
            ],
            image: './img/support-documentation/s5.png'

        },
        {
            title: '№ 2015615390',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Шлюз ST</b>',
                'От 18.05.2015',
            ],
            image: './img/support-documentation/s6.png'

        },
        {
            title: '№ 2015615391',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра КП</b>',
                'От 18.05.2015',
            ],
            image: './img/support-documentation/s7.png'

        },
        {
            title: '№ 2015615401',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Клиент-М</b>',
                'От 18.05.2015',
            ],
            image: './img/support-documentation/s8.png'

        },
        {
            title: '№ 2015615488',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Шлюз CP</b>',
                'От 19.05.2015',
            ],
            image: './img/support-documentation/s9.png'

        },
        {
            title: '№ 2015615515',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра VPN</b>',
                'От 20.05.2015',
            ],
            image: './img/support-documentation/s10.png'

        },
        {
            title: '№ 2015615581',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>Криптографическая библиотека 70221576.4255009.005</b>',
                'От 21.05.2015',
            ],
            image: './img/support-documentation/s11.png'

        },
        {
            title: '№ 2015615824',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Клиент ST</b>',
                'От 25.05.2015',
            ],
            image: './img/support-documentation/s12.png'

        },
        {
            title: '№ 2015615823',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра COA</b>',
                'От 25.05.2015',
            ],
            image: './img/support-documentation/s13.png'

        },
        {
            title: '№ 2015615825',
            subtitle: 'программы для ЭВМ',
            list: [
                '<b>С-Терра Клиент CP</b>',
                'От 25.05.2015',
            ],
            image: './img/support-documentation/s14.png'

        },

    ]