
-
    var supportItems = [
        {
            title: 'Специализированный АК С - Терра (АК S-Terra)',
            description: '<a href="#somelink">Условия гарантийного обслуживания</a> аппаратных комплексов С-Терра (АК S-Terra)',
            contacts: true,
            phone: '+7 (499) 940–90–01',
            email: 'sales@s-terra.ru'
        },
        {
            title: 'ПАК С-Терра Юнит',
            description: 'Срок гарантии на аппаратную платформу — 1 год',
            contacts: true,
            phone: '+7 (499) 940–90–01',
            email: 'sales@s-terra.ru'
        },
        {
            title: 'Cisco',
            description: `<p>Запрос на гарантийную замену АП открывается через техническую поддержку ООО «С‑Терра СиЭсПи».</p> <p><a href="#">Условия реализации и предоставления сервисов и поддержки Cisco.</a></p>`,
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'Cisco NME-RVPN',
            description: 'ООО «С-Терра СиЭсПи»',
            contacts: true,
            phone: '+7 (499) 940–90–01',
            email: 'sales@s-terra.ru'
        },
        {
            title: 'Huawei',
            description: '<p>Гарантийное обслуживание аппаратных платформ Huawei производится в <a href="#">сервисных центрах компании.</a></p> <p><a href="#">Проверить условия обслуживания купленного оборудования</a></p>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'Hewlett Packard',
            description: '<a href="#">Сервисные центры</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'DEPO',
            description: '<a href="#">Компьютерные сервисные центры</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'Kraftway',
            description: '<a href="#">Сервисная сеть</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'TONK',
            description: 'ООО «С-Терра СиЭсПи»',
            contacts: true,
            phone: '+7 (499) 940–90–01',
            email: 'sales@s-terra.ru'
        },
        {
            title: 'СЗИ НСД семейства АККОРД',
            description: '<a href="#">Сервисные центры ОКБ «САПР»</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'ПАК «Соболь»',
            description: '<a href="#">Сервисные центры компании «Код Безопасности»</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'АПМДЗ «КРИПТОН-ЗАМОК»',
            description: '<a href="#">Сервисные центры Фирмы «АНКАД»</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'АПМДЗ «МАКСИМ-М1»',
            description: '<a href="#">Сервисные центры АО «НПО РусБИТех»</a>',
            contacts: false,
            phone: null,
            email: null
        },
        {
            title: 'Eltex (ESR-H)',
            description: '<p>Перед отправкой оборудования в сервисный центр Eltex запросите <a href="#">в службе технической поддержки компании</a> «С-Терра СиЭсПи» инструкцию по разукомплектованию СКЗИ.</p><p><a href="#">Сервисные центры Eltex</a></p>',
            contacts: false,
            phone: null,
            email: null
        },
    ]