-
    var supportDocumentation2 = [
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l1.png',
            title: 'Аттестат аккредитации испытательной лаборатории',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: 'ФСБ РФ удостоверяет, что ООО «С-Терра СиЭсПи» соответствует требованиям, предъявляемым к испытательным лабораториям, и аккредитовано...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l2.png',
            title: 'Лицензия №36291',
            period: '05.08.2021 — 14.07.2026',
            description: 'Лицензия Федеральной службы безопасности России на осуществление работ, связанных с использованием сведений, составляющих государственную тайну',
        },
        {
            image: './img/support-documentation/l3.png',
            title: 'Лицензия №17844 С',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на создание средств защиты информации, содержащей сведения, составляющие государственную тайну',
        },
        {
            image: './img/support-documentation/l4.png',
            title: 'Лицензия №17845 М',
            period: '08.05.2020 — 08.05.2025',
            description: 'Лицензия на осуществление мероприятий и (или) оказание услуг в области защиты государственной тайны',
        },
        {
            image: './img/support-documentation/l5.png',
            title: 'Лицензия №2245',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по контролю защищенности конфиденциальной информации в средствах и системах информатизации, установке, монтажу, испытаниям, ремонт...',
            extra: 'Весь текст'
        },
        {
            image: './img/support-documentation/l6.png',
            title: 'Лицензия №1224',
            period: '20.03.2014 — бессрочно',
            description: 'Лицензия на деятельность по разработке и (или) производству средств защиты конфиденциальной информации',
        },
        {
            image: './img/support-documentation/l7.png',
            title: 'Лицензия №14187 H',
            period: '10.01.2016 — 10.01.2021 (10.01.2026)',
            description: '<p>Лицензия Федеральной службы безопасности России на осуществление:</p> <ul><li>разработки, производства, распространения шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств;</li><li>выполнения работ, оказания услуг в области шифрования информации;</li><li>технического обслуживания шифровальных (криптографических) средств, информационных и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств.</li></ul>',
            extra: 'Весь текст',
        },
        {
            image: './img/support-documentation/l8.png',
            title: 'Лицензия №14238 К',
            period: '20.04.2015 — бессрочно',
            description: 'Лицензия Федеральной службы безопасности России на осуществление разработки и производства средств защиты конфиденциальной информации.',
            extra: 'Весь текст'
        },
    ]