-
    var teamusers = [
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Технический директор',
            image: './img/about/about-user-2.png'
        },
        {
            name: 'Аркадий Ильич Пыслару',
            position: 'Коммерческий директор',
            image: './img/about/about-user-3.png'
        },
        {
            name: 'Александр Владимирович Рыбаков',
            position: 'Директор по производству',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Александр Николаевич Толстопятов',
            position: 'Исполнительный директор',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Сергей Викторович Калинин',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Екатерина Васильевна Исайкина',
            position: 'Начальник отдела маркетинга',
            image: './img/about/about-user-4.png'
        },
        {
            name: 'Дмитрий Юрьевич Колобердин',
            position: 'Начальник отдела клиентского сервиса',
            image: './img/about/about-user-5.png'
        },
        {
            name: 'Андрей Александрович Шпаков',
            position: 'Начальник отдела технического консалтинга',
            image: './img/about/about-user-placeholder.png'
        }
    ]