-
    var vacancies = [
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Разработчик С/С++ (x86, mips, arm)',
            subtitle: 'Москва',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Менеджер в коммерческий отдел',
            subtitle: 'Зеленоград',
            type: 2,
            icon: 'vacant-2'
        },
        {
            title: 'Разработчик С/С++ (x86, mips, arm)',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Москва',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Руководитель группы тестирования ПО',
            subtitle: 'Москва',
            type: 1,
            icon: 'vacant-1'
        },

    ]