block content
    .product-card-advantages
        .container
            .product-card-advantages__wrap
                .product-card-advantages__content
                    .product-card-advantages__content__title Преимущества продукта С-Терра Шлюз 4.3
                    .product-card-advantages__content__items
                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 1.
                            .product-card-advantages__content__item__text Удаленное обновление с помощью системы централизованного управления С-Терра КП 4.3

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 2.
                            .product-card-advantages__content__item__text Криптографическое преобразование ENCR_KUZNYECHIK_MGM_KTREE по проекту спецификации ТК26 на базе криптоалгоритма «Кузнечик»

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 3.
                            .product-card-advantages__content__item__text Улучшенный пользовательский интерфейс

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 4.
                            .product-card-advantages__content__item__text Поддержка групповых операций при работе со списками доступа для межсетевого экранирования и шифрования

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 5.
                            .product-card-advantages__content__item__text Поддержка одновременной работы с 2 USB модемами разных вендоров

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 6.
                            .product-card-advantages__content__item__text Расширенные возможности мониторинга средствами ОС, в том числе температуры компонентов шлюза и жестких дисков.

                        .product-card-advantages__content__item
                            .product-card-advantages__content__item__number 7.
                            .product-card-advantages__content__item__text Использование Zabbix-агента «из коробки».
                        .accordion.accordion-advantages
                            .accordion-item
                                .accordion-item-panel
                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 8.
                                        .product-card-advantages__content__item__text Поддержка технологий NetFlow, IPFIX.

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 9.
                                        .product-card-advantages__content__item__text L2 VPN — возможность построения полносвязной оптимальной топологии, совмещение L2/L3 функций на порту захвата фреймов.

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 10.
                                        .product-card-advantages__content__item__text Улучшена работа VRRP кластера (поддержка расширенных сценариев из CLI, новые команды проверки состояния кластера).

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 11.
                                        .product-card-advantages__content__item__text Улучшена работа MultiWAN (возможность задавать произвольные маршруты для резервирования, поддержка механизма uRPF).

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 12.
                                        .product-card-advantages__content__item__text IKE / IPsec с криптоалгоритмами ГОСТ согласно RFC и ТК26

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 13.
                                        .product-card-advantages__content__item__text Наличие промышленных исполнений

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 14.
                                        .product-card-advantages__content__item__text Интеграция с RADIUS сервером
                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 15.
                                        .product-card-advantages__content__item__text IPsec-over-HTTP

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 16.
                                        .product-card-advantages__content__item__text Интеграция с С-Терра СОВ

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 17.
                                        .product-card-advantages__content__item__text Масштабируемость по производительности

                                    .product-card-advantages__content__item
                                        .product-card-advantages__content__item__number 18.
                                        .product-card-advantages__content__item__text Межсетевой экран интегрированный

                                button.btn.btn-primary-inverse.product-card-advantages__content__btn.accordion-trigger Развернуть
                .product-card-advantages__banner
                    .product-card-advantages__banner__image(style="background-image: url(./img/product-card/advantages/pic.png)")
                    .product-card-advantages__banner-text
                        .product-card-advantages__banner-text__title Презентация продукции
                        a.btn.btn-accent(href="" download)
                            svg.btn-icon
                                use(href="./img/icons/icon-sprite.svg#i-arrow-2")
                            span Каталог продукции
