block content
    .product-card-sertificates
        .product-card-sertificates__wrap
            .product-card-sertificates__title Сертификаты С-Терра Шлюз 4.3
            .product-card-sertificates-slider.js-sert-slider-1
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №114/3815 (КС1)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 28.02.2023
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №124/3816 (КС2)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 28.02.2023
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №124/3857 (КС3)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 22.06.2023
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №114/3815 (КС1)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 28.02.2023
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №124/3816 (КС2)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 28.02.2023
                .product-card-sertificates__item
                    a.product-card-sertificates__item__wrap(href="#")
                        .product-card-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .product-card-sertificates__item-content
                            .product-card-sertificates__item__title Сертификат ФСБ России  №124/3857 (КС3)
                            .product-card-sertificates__item__description
                                ul
                                    li Действителен до 22.06.2023
            .product-card-sertificates-slider__control.js-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse.btn-mobile(href="#") Все сертификаты