.top-button {
  position: sticky;
  bottom: 50px;
  z-index: $topButtonZIndex;



  .container {
    position: relative;
  }

  button {
    position: absolute;
    right: calc(2 * var(--gap));
    top: 0;
    transform: translateY(-50%);

    transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;

    &[hidden] {
      display: block;
      opacity: 0;
      visibility: hidden;
    }
  }
}
