.apps {
  &-block {
    &:not(:last-child) {
      margin-bottom: var(--space-unit);
    }
  }
  &-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  &-list {
    list-style: none;
    display: flex;
    margin-left: -7.5px;
    margin-right: -7.5px;

    li {
      margin-left: 7.5px;
      margin-right: 7.5px;
      flex-shrink: 0;
    }
  }
  .app-icon {
    display: block;
    cursor: pointer;

    width: 36px;
    height: 37px;

    position: relative;

    .icon, .colored-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 36px;
      height: auto;
    }


    .colored-icon {
      opacity: 0;
    }

    &:hover {
      .icon {
        opacity: 0;
      }
      .colored-icon {
        opacity: 1;
      }
    }
  }


}
