block content

    .support-main-cards
        .container

            .support-main-cards-title Виды техподдержки

            .support-main-cards-wrap

                .support-main-card.support-main-card-1
                    .support-main-card-title Гарантийная
                    .support-main-card-wrap
                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Дистанционно (по телефону, email, на специализированном портале)
                        .support-main-card-footer
                            .support-main-card-footer-text 1 год включен в стоимость продукта


                .support-main-card.support-main-card-2
                    .support-main-card-title Стандартная
                    .support-main-card-wrap
                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Дистанционно (по телефону, email, на специализированном портале)
                        .support-main-card-footer
                            button.btn.support-main-card-footer-button(data-course-modal) Отправить запрос


                .support-main-card.support-main-card-3
                    .support-main-card-title Расширенная
                    .support-main-card-wrap
                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Дистанционно (по телефону, email, на специализированном портале)
                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Ускоренная обработка заявок
                        .support-main-card-footer
                            button.btn.support-main-card-footer-button(data-course-modal) Отправить запрос


                .support-main-card.support-main-card-4
                    .support-main-card-title Премиальная
                    .support-main-card-wrap
                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Дистанционно (по телефону, email, на специализированном портале)

                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Возможен выезд инженера на площадку заказчика

                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Приоритетная обработка заявок

                        .support-main-card-item
                            svg.check-icon.support-main-card-item-icon
                                use(href="./img/icons/icon-sprite.svg#check-icon")
                            .support-main-card-item-text Персональный инженер
                        .support-main-card-footer
                            button.btn.support-main-card-footer-button(data-course-modal) Отправить запрос

            .product-card-video-slider-slider__control.js-cards-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)