block content
    .support-main-video-slider
        .support-main-video-slider__wrap
            .support-main-video-slider__title Видеоуроки
            .support-main-video-slider-slider.js-video-slider-1
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-1.png")
                        .support-main-video-slider__item__title <b>Урок 1: </b> Как выбрать VPN продукт?
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-2.png")
                        .support-main-video-slider__item__title <b>Урок 2: </b> Как быстро развернуть демо стенд?
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-3.png")
                        .support-main-video-slider__item__title <b>Урок 3: </b> Как развернуть собственный Удостоверяющий Центр?
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-1.png")
                        .support-main-video-slider__item__title <b>Урок 1: </b> Как выбрать VPN продукт?
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-2.png")
                        .support-main-video-slider__item__title <b>Урок 2: </b> Как быстро развернуть демо стенд?
                .support-main-video-slider__item
                    a.support-main-video-slider__item__wrap(href="#")
                        .support-main-video-slider__item-image
                            img(src="./img/support-main/video-3.png")
                        .support-main-video-slider__item__title <b>Урок 3: </b> Как развернуть собственный Удостоверяющий Центр?
            .support-main-video-slider-slider__control.js-video-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse Все видеоуроки
