.fade-slider {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-slides {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    transition-property: opacity;
    transition-duration: 1000ms;

    &.active {
      opacity: 1;
      transition-duration: 2000ms;
      transition-delay: 500ms;
    }
  }

  &-pagination {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--primary-contrast);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: var(--space-md);
      }

      transition: transform 250ms linear, background 250ms linear;

      &:hover {
        transform: scale(2.5);
      }

      &.active {
        transform: scale(2.5);
        background: var(--accent);
      }
    }
  }
}
