include ../../data/pressnewsitems
include ../../mixins/slider

block content
    .container
        .row.pressnews-item-page
            .col.col-12.col-sm-12.col-md-8
                .pressnews-item-page__header
                    .pressnews-item-page__title Решения С-Терра продемонстрированы на конференции «ИТ-Полигон»
                    .pressnews-item-page__block
                        .pressnews-item-page__date 31 мая 2021 
                        .pressnews-item-page__category новость
                
                .pressnews-item-page__text-block__content
                    p «С-Терра СиЭсПи» выступила партнером практической конференции «ИТ-Полигон-2021», которая прошла 25-26 мая в Ленинградской области. Ключевым партнером и главным вдохновителем события является «Газпром нефть».
                    p Компания «С-Терра СиЭсПи» показала на своем стенде решения по защите каналов связи, актуальные в условиях импортозамещения. Был развернут демонстрационный стенд, на котором в условиях реального времени посетители наблюдали процесс тестирования защиты канала связи с производительностью 40 Гбит/с. Испытания проводились в офисе компании, а доступ к тестовой площадке с выставочного стенда защищал миниатюрный криптошлюз С-Терра Юнит.
                    .scroll-slider
                        .pressnews-item-page__images-slider__top.my-gallery#pressnews-item-page__images-slider__top
                            each pressnewsitem in pressnewsitems
                                .slider-item
                                    figure
                                        img(src=pressnewsitem.img alt="")
                        .pressnews-item-page__images-slider__bottom
                            ul#pressnews-item-page__images-slider__bottom
                                each pressnewsitem in pressnewsitems
                                    li
                                        img(src=pressnewsitem.img alt="")
                    p В экспозиции на стенде компании «С-Терра СиЭсПи» были представлены:
                    ul.list
                        li С-Терра Юнит. Компактный криптошлюз с ГОСТ-шифрованием. Производительность — до 10 Мбит/с. Размеры шлюза в сочетании с питанием по USB и встроенным Wi-Fi позволяют ему защищать индивидуальные устройства (ip-телефоны, ноутбуки, мобильные телефоны) и АРМ-ы, где установка обычного программного клиента невозможна. Сертифицирован ФСБ России в качестве СКЗИ по классам КС1 и КС2. Ведутся работы по включению в ТОРП. 
                        li С-Терра Шлюз DP. Линейка высокоскоростных шлюзов, работающих на канальном уровне (L2). Шлюзы 25G и 40G — первые сертифицированные решения под каналы 25 гигабит\с и 40 гигабит\c на российском рынке. Поддерживают технологию квантового распределения ключей.
                        li С-Терра Шлюз 100 Промышленное исполнение. Специализированная версия для применения в сложных температурных, эксплуатационных условиях. Криптошлюз выполнен в металлическом компактном пылезащищенном корпусе, предназначенном для крепления на DIN-рейку. Используется, когда необходимо максимально обезопасить оборудование от неблагоприятных внешних факторов.
                        li С-Терра Клиент А. VPN-Клиент для защиты трафика устройств с операционной системой Astra-Linux CE «Орёл» 2.12 и SE «Смоленск» 1.6.
                    p В конференции приняли участие более 400 делегатов из компаний нефтегазового сектора. В выставочной части мероприятия было организовано более 30 стендов, на которых партнеры компании «Газпром нефть» демонстрировали свои разработки.
                    .pressnews-item-page__text-block__btn-group
                        a.btn.btn-primary-inverse.btn-round(href="#", disabled)
                            +svg-icon('chevron-left', 7, 12)
                        a.btn.btn-primary-inverse.btn-round(href="#")
                            +svg-icon('chevron-right', 7, 12)
                        a.btn.btn-primary-inverse(href="#") Все новости
                    
            .pressnews-item-page__form
                include ./contact-form.pug

            