block content
    .about-work
        .container
            .about-work__block
                .about-work__title Работа у нас
                .about-work__content
                    .about-work__text
                        p.about-work__text-item Компания С-Терра строит бизнес в первую очередь вокруг людей. При найме новых сотрудников мы отдаем предпочтение не столько опытным, сколько способным кандидатам. Нам важно, чтобы вне зависимости от позиции будущие коллеги обладали следующими качествами:
                        ul.about-work__text-item
                            li
                                span.title Умение добиваться результата
                                span Процесс у нас важен, но еще важнее — результат. Мы лично отвечаем за каждый свой продукт
                            li
                                span.title Инициативность
                                span Мы ожидаем от своих коллег активной позиции в жизни нашей компании, умения не бояться предлагать и обсуждать
                            li
                                span.title Самостоятельность
                                span Мы стремимся работать с теми, кто умеет управлять собой: организовывать себя, определять свои задачи, способы и пути их решения
                        a.btn.btn-primary(href="#") Посмотреть вакансии
                    .about-work__image
                        img(src="./img/about/about-work-with-us.png" alt="")
