<!-- FAQ -->

include ../../data/faq

section.home-faq
  .container
    h2.h2.home-faq__title Как начать работать с нами

    .home-faq__accordion


      div.accordion#home-faq
        each item in faq
          section.home-faq-item.accordion-item
            header.home-faq-item__header.accordion-item-header.accordion-trigger
              h2.home-faq-item__title !{item.title}
              .home-faq-item__state
            .accordion-item-panel
              .home-faq-item__content !{item.text}


<!-- FAQ -->
