<!-- JUMBOTRON -->

.jumbotron
    .container
        .home-banner
            .home-banner__content
                .home-banner__text Продуктовая линейка компании «С-Терра СиЭсПи»
                .home-banner__description
                    p Позволяет защитить информационную систему любого масштаба: от небольшой локальной сети до инфраструктуры федерального уровня.
                    p Основой защиты передаваемых данных служит технология IPsec VPN, надежность и безопасность которой подтверждена многолетним мировым опытом.
                a.btn.btn-accent(href="" download)
                    svg.btn-icon
                        use(href="./img/icons/icon-sprite.svg#download-arrow")
                    svg.btn-icon.mobile
                        use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                    span Каталог продукции
            .home-banner__img
                img(src="./img/catalog-product/main.png", alt="")

<!-- /JUMBOTRON -->

