.header-toggler {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:not([data-closed]) {
    color: var(--accent);

    &:hover,
    &:active {
      color: var(--accent-dark);
    }

    .burger {
      display: none;
    }
  }

  &[data-closed] {
    color: var(--primary);

    &:hover,
    &.active {
      color: var(--primary-dark);
    }

    .times {
      display: none;
    }
  }
}
