.home-contact-form {
  &__title {
    margin-bottom: var(--space-sm);
    text-align: center;
    font-size: 25px;
  }

  &__subtitle {
    font-size: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--space-lg);
    text-align: center;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  &__image {
    display: none;

    // .phone {
    //   animation-name: phoneMove;
    //   animation-timing-function: ease-in-out;
    //   animation-iteration-count: infinite;
    //   animation-duration: 2000ms;
    // }

    // .envelope {
    //   animation-name: envelopeMove;
    //   animation-timing-function: ease-in-out;
    //   animation-iteration-count: infinite;
    //   animation-duration: 3000ms;

    //   .envelope-inner {
    //     animation-name: envelopeScale;
    //     animation-timing-function: ease-in-out;
    //     animation-iteration-count: infinite;
    //     animation-duration: 3000ms;
    //     transform-origin: 80% 20%;
    //   }

    // }

    // .computer {
    //   animation-name: computerMove;
    //   animation-timing-function: ease-in-out;
    //   animation-iteration-count: infinite;
    //   animation-duration: 2000ms;
    // }

    // .ellipses {
    //   animation-name: ellipsesMove;
    //   animation-timing-function: ease-in-out;
    //   animation-iteration-count: infinite;
    //   animation-duration: 2000ms;
    //   transform-origin: 50% 80%;
    // }
  }

  &__fields {
    max-width: 462px;
  }

  &__field {
  }

  &__confirm {
    .checkbox {
      &-label {
        font-size: 11px;
        padding-top: 4px;
        font-weight: 300;

        a {
          font-weight: 400;
        }
      }
    }
  }

  &__submit {
  }

  @include tablet-up {
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      max-width: none;
    }
  }

  @include lg-tablet-up {
    &__title {
      font-size: 40px;
    }
    &__subtitle {
      font-size: 17px;
    }
    &__fields,
    &__image {
      width: calc(370px + 2 * var(--gap));
      padding-left: var(--gap);
      padding-right: var(--gap);
    }
    &__fields {
    }
    &__confirm {
      .checkbox {
        &-label {
          font-size: 12px;
        }
      }
    }
    &__image {
      display: block;
      position: relative;

      img {
        position: absolute;
        right: 85px;
        top: 40px;
      }
    }
    &__submit {
      .btn {
        height: 50px;
        font-size: 17px;
      }
    }
  }

  @include desktop-up {
    &__fields,
    &__image {
      width: 407px;
      padding: 0;
    }
    &__fields {
      margin-left: 45px;
    }

    &__image {
      margin-right: 45px;
      img {
        right: 0;
      }
    }
  }
}

// @keyframes computerMove {
//   from {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(15px)
//   }
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes phoneMove {
//   from {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(8px)
//   }
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes ellipsesMove {
//   from {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(0.8);
//   }
//   to {
//     transform: scale(1);
//   }
// }

// @keyframes envelopeMove {
//   from {
//     transform: translate(0, 0);
//   }
//   to {
//     transform: translate(100px, -40px);
//   }
// }

// @keyframes envelopeScale {
//   from {
//     transform: scale(1);
//     opacity: 1;
//   }
//   50% {
//     opacity: 1;
//   }
//   90% {
//     transform: scale(0);
//     opacity: 0;
//   }
//   to {
//     transform: scale(0)
//   }
// }
