$circleAnimationDuration: 4000ms;
$circleDelay: 800ms;
$circleGroupDelay: 357ms;

.home-info {
  .home-info-company,
  .home-info-products {
    display: block;
    text-decoration: none;


    &__container {
      padding: 35px 30px 50px;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: var(--space-xs);
    }

    &__text {
      margin-bottom: calc(2 * var(--space-sm));
      font-size: 13px;
      line-height: 1.4;
    }
  }

  .home-info-company {
    margin-bottom: var(--space-lg);

    &__icons {
      display: none;
    }
  }

  .home-info-products {

    position: relative;
    overflow: hidden;
    min-height: 240px;

    &:before {
      content: '';
      display: block;
      background-image: url('../img/products/products.png');
      min-width: 300px;
      height: 125px;
      background-repeat: no-repeat;
      background-position: right bottom;
      position: absolute;
      top: 100px;
      left: 100px;
      right: 0;
    }

    &__container {
      position: relative;
    }

    &__title {
      color: inherit;
    }
  }

  @include tablet-up {
    .home-info-company,
    .home-info-products {
      min-height: 400px;
    }
    .home-info-company {
      margin-bottom: 0;
    }
    .home-info-products {
      &:before {
        top: auto;
        bottom: 60px;
      }
    }
  }

  @include lg-tablet-up {
    .home-info-company,
    .home-info-products {
      min-height: 370px;

      &__container {
        padding-top: 50px;
        padding-bottom: 64px;
      }
      &__title {
        margin-bottom: var(--space-xs);
      }
      &__text {
        font-size: 15px;
      }
    }
    .home-info-company {
      flex-basis: 58.33%;

      &__title {
        font-size: 24px;
      }
    }
    .home-info-products {
      flex-basis: 41.66%;

      &__title {
        font-size: 28px;
      }

      &:before {
        top: auto;
        bottom: 30px;
      }
    }
  }

  @include sm-desktop-up {
    .home-info-company {

      &__container {
        display: flex;
        margin-left: calc(-1 * var(--gap));
        margin-right: calc(-1 * var(--gap));
        padding-left: 0;
        padding-right: 0;
      }

      &__icons {
        padding-left: calc(var(--gap) * 2);
      }

      &__content {
        padding-left: var(--gap);
        padding-right: calc(var(--gap) + 40px);
      }

      &__icons {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 37.5%;
      }

      &__content {
        width: 62.5%;
      }
    }
  }
}

// @keyframes circleMove {
//   from {
//     transform: scale(0);
//     opacity: 0.55;
//   }
//   50% {
//     transform: scale(1);
//     opacity: 0.01;
//   }
//   51% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// .circles {
//   .circle {
//     opacity: 0;
//     animation-name: circleMove;
//     animation-duration: $circleAnimationDuration;
//     animation-timing-function: ease-in-out;
//     animation-iteration-count: infinite;
//   }

//   &-1 {
//     .circle {
//       transform-origin: 70% 76%;

//       &-1 {
//         animation-delay: 0ms;
//       }
//       &-2 {
//         animation-delay: 0ms + $circleDelay;
//       }
//       &-3 {
//         animation-delay: 0ms + $circleDelay * 2;
//       }
//     }
//   }

//   &-2 {
//     .circle {
//       transform-origin: 68% 36%;

//       &-1 {
//         animation-delay: $circleGroupDelay * 2;
//       }
//       &-2 {
//         animation-delay: $circleGroupDelay * 2 + $circleDelay;
//       }
//       &-3 {
//         animation-delay: $circleGroupDelay * 2 + $circleDelay * 2;
//       }
//     }
//   }

//   &-3 {
//     .circle {
//       transform-origin: 23% 66%;

//       &-1 {
//         animation-delay: $circleGroupDelay;
//       }
//       &-2 {
//         animation-delay: $circleGroupDelay + $circleDelay;
//       }
//       &-3 {
//         animation-delay: $circleGroupDelay + $circleDelay * 2;
//       }
//     }
//   }
// }
