block content

        .container
            .text-container
                .case-page__title «С-Терра СиЭсПи» и «Аквариус» заключили договор о сотрудничестве
                .case-page__subtitle 25 Марта 2021
                .case-page__content
                    p «С-Терра СиЭсПи» и «Аквариус» начинают производство VPN-шлюзов с ГОСТ-криптографией на российских аппаратных платформах, что особенно актуально для субъектов КИИ и государственных организаций.
                    .about-team-slider
                        .slider__item
                            img(src="./img/case/1.png")
                        .slider__item
                            img(src="./img/case/2.png")
                        .slider__item
                            img(src="./img/case/3.png")
                    .about-team-slider-thumbnails-wrap
                        ul#about-team-slider-thumbnails.about-team-slider-thumbnails
                            li
                                img(src="./img/case/1.png")
                            li
                                img(src="./img/case/2.png")
                            li
                                img(src="./img/case/3.png")
                    p «С-Терра СиЭсПи», российский производитель сертифицированных средств защиты каналов связи, и «Аквариус», производитель и поставщик отечественной компьютерной техники и ИТ-решений, объявляют о подписании партнерского договора, в рамках которого будет дан старт производству VPN‑шлюзов с ГОСТ-криптографией С-Терра Шлюз на российских аппаратных платформах Aquarius.
                    p Цель сотрудничества компаний — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпромторга России. Программное обеспечение для шлюзов безопасности С-Терра включено в Единый реестр российских программ для ЭВМ и баз данных, продукты сертифицированы ФСБ России и ФСТЭК России.
                    p Новые VPN-продукты, созданные специально для российских заказчиков, позволят выполнить требования законодательства по обеспечению защиты информации как государственным организациям и учреждениям, субъектам критической информационной инфраструктуры (КИИ), так и коммерческим предприятиям.
                    p.separate «Наша компания всегда ориентируется на потребности заказчиков, оперативно адаптируя параметры выпускаемой продукции. В этом стремлении мы полностью совпадаем с компанией «Аквариус», которая с таким же вниманием относится к запросам своих клиентов, — отмечает <b>Михаил Иванов, генеральный директор компании «С-Терра СиЭсПи».</b> — Мы рады представить качественное, функциональное, доступное по цене оборудование для защиты передаваемой информации. В составе новых криптошлюзов — российское программное обеспечение от компании «С-Терра СиЭсПи», интегрированное в российскую же аппаратную платформу от компании «Аквариус». Мы уверены в том, что новые отечественные шлюзы безопасности быстро обретут популярность и займут заметное место на рынке».
                    p.separate «Мы заинтересованы в том, чтобы серверы нашей разработки получили широкое применение не только у заказчиков, но и стали основой комплексных решений, — комментирует <b>Сергей Белкин, вице-президент компании «Аквариус»</b>, руководитель технической дирекции. — «Аквариус» на протяжении многих лет входит в топ-10 крупнейших компаний в рейтингах информационной безопасности. «С-Терра СиЭсПи» является опытным экспертом-разработчиком средств сетевой защиты. Мы уверены, что данное соглашение позволит предложить рынку востребованное программно-аппаратное решение на аппаратных платформах из реестра Минпромторга России для обеспечения высокого уровня информационной безопасности в соответствии с новыми требованиями регуляторов по переходу на российские аппаратные платформы в критически важных отраслях».
                    p Первые тестовые испытания, проведенные инженерами компаний, показали достижение высокой производительности шифрования при сохранении скорости передачи данных. Планируется, что продажи новых шлюзов безопасности С-Терра Шлюз на аппаратных платформах Aquarius начнутся в IV квартале 2021 года.

                .case-reviews-slider.js-partner-slider-1
                    .case-reviews-slider__item
                        a.case-reviews-slider__item__wrap(href="#")
                            .case-reviews-slider__item__top Отзыв о сотрудничестве
                            .case-reviews-slider__item__image
                                img(src="./img/partner/2.png")
                            .case-reviews-slider__item__description «Мы заинтересованы в том, чтобы серверы нашей разработки получили широкое применение не только у заказчиков, но и стали основой комплексных решений. «Аквариус» на протяжении многих лет входит в топ-10 крупнейших компаний в рейтингах информационной безопасности. «С-Терра СиЭсПи» является опытным экспертом-разработчиком средств сетевой защиты. Мы уверены, что данное соглашение позволит предложить рынку востребованное программно-аппаратное решение на аппаратных платформах из реестра Минпромторга России для обеспечения высокого уровня информационной безопасности в соответствии с новыми требованиями регуляторов по переходу на российские аппаратные платформы в критически важных отраслях».
                            .case-reviews-slider__item__bottom
                                .title Сергей Белкин,
                                .value вице-президент компании «Аквариус», руководитель технической дирекции

                    .case-reviews-slider__item
                        a.case-reviews-slider__item__wrap(href="#")
                            .case-reviews-slider__item__top Отзыв о сотрудничестве
                            .case-reviews-slider__item__image
                                img(src="./img/partner/2.png")
                            .case-reviews-slider__item__description «Мы заинтересованы в том, чтобы серверы нашей разработки получили широкое применение не только у заказчиков, но и стали основой комплексных решений. «Аквариус» на протяжении многих лет входит в топ-10 крупнейших компаний в рейтингах информационной безопасности. «С-Терра СиЭсПи» является опытным экспертом-разработчиком средств сетевой защиты. Мы уверены, что данное соглашение позволит предложить рынку востребованное программно-аппаратное решение на аппаратных платформах из реестра Минпромторга России для обеспечения высокого уровня информационной безопасности в соответствии с новыми требованиями регуляторов по переходу на российские аппаратные платформы в критически важных отраслях».
                            .case-reviews-slider__item__bottom
                                .title Сергей Белкин,
                                .value вице-президент компании «Аквариус», руководитель технической дирекции

                    .case-reviews-slider__item
                        a.case-reviews-slider__item__wrap(href="#")
                            .case-reviews-slider__item__top Отзыв о сотрудничестве
                            .case-reviews-slider__item__image
                                img(src="./img/partner/2.png")
                            .case-reviews-slider__item__description «Мы заинтересованы в том, чтобы серверы нашей разработки получили широкое применение не только у заказчиков, но и стали основой комплексных решений. «Аквариус» на протяжении многих лет входит в топ-10 крупнейших компаний в рейтингах информационной безопасности. «С-Терра СиЭсПи» является опытным экспертом-разработчиком средств сетевой защиты. Мы уверены, что данное соглашение позволит предложить рынку востребованное программно-аппаратное решение на аппаратных платформах из реестра Минпромторга России для обеспечения высокого уровня информационной безопасности в соответствии с новыми требованиями регуляторов по переходу на российские аппаратные платформы в критически важных отраслях».
                            .case-reviews-slider__item__bottom
                                .title Сергей Белкин,
                                .value вице-президент компании «Аквариус», руководитель технической дирекции

                    .case-reviews-slider__item
                        a.case-reviews-slider__item__wrap(href="#")
                            .case-reviews-slider__item__top Отзыв о сотрудничестве
                            .case-reviews-slider__item__image
                                img(src="./img/partner/2.png")
                            .case-reviews-slider__item__description «Мы заинтересованы в том, чтобы серверы нашей разработки получили широкое применение не только у заказчиков, но и стали основой комплексных решений. «Аквариус» на протяжении многих лет входит в топ-10 крупнейших компаний в рейтингах информационной безопасности. «С-Терра СиЭсПи» является опытным экспертом-разработчиком средств сетевой защиты. Мы уверены, что данное соглашение позволит предложить рынку востребованное программно-аппаратное решение на аппаратных платформах из реестра Минпромторга России для обеспечения высокого уровня информационной безопасности в соответствии с новыми требованиями регуляторов по переходу на российские аппаратные платформы в критически важных отраслях».
                            .case-reviews-slider__item__bottom
                                .title Сергей Белкин,
                                .value вице-президент компании «Аквариус», руководитель технической дирекции

                .case-reviews-slider__control.js-slider-control-1
                    button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                        +svg-icon('chevron-left', 7, 12)
                    button.btn.btn-primary-inverse.btn-round(data-controls="next")
                        +svg-icon('chevron-right', 7, 12)
                    a.btn.btn-primary-inverse(href="#") Все кейсы