.contacts-form{
  margin-top: 100px;
  background: #F6F6FF;
  padding-top: 100px;
  padding-bottom: 100px;
  &__wrap{
    max-width: 854px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title{
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    color: #000066;
    margin-bottom: 53px;
  }
  &__block{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      .form-field{

      }
      &__footer{
        display: flex;
        align-items: center;
        .home-contact-form__submit{
          margin-top: 0;
          .btn{
            width: 175px;
          }
        }
      }
    }

  }
}

@media (max-width: 1020px){
  .contacts-form{
    margin-top: 80px;
    padding-top: 73px;
    padding-bottom: 100px;
    &__wrap{
    }
    &__title{
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    &__block{
      &__row{
        .form-field{

        }
        &__footer{
          .checkbox-label{
            max-width: 450px;
          }
          .home-contact-form__submit{
            margin-left: auto;
            .btn{
              width: 145px;
            }
          }
        }
      }

    }
  }
}

@media(max-width: 767px){

  .contacts-form{
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    &__wrap{
    }
    &__title{
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    &__block{
      &__row{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: unset;
        .form-field{

        }
        &__footer{
          flex-direction: column;
          .checkbox-label{
            max-width: 100%;
          }
          .home-contact-form__submit{
            margin-left: auto;
            width: 100%;
            .btn{
              width: 100%;
            }
          }
        }
      }

    }
  }
}