-
    var catalogCompl= [
        {
            title: 'Защита канала 10 Гбит и больше',
            description: 'Надежная защита каналов связи с производительностью 10  Гбит/с и выше, соответствующая требованиям регуляторов ИБ...',
            type: 2,
            icon: 'catalog-1'
        },
        {
            title: 'Защита подключения к ИС ЕПТ',
            description: 'Надежная защита в Информационной Системе «Единый портал тестирования в области промышленной безопасности, безопасности гидротехнических...',
            type: 2,
            icon: 'catalog-2'
        },
        {
            title: 'Защита удаленного доступа',
            description: 'Защита доступа сотрудников к корпоративной информации и сервисам корпоративной сети из любой точки мира',
            type: 2,
            icon: 'catalog-3'
        },
        {
            title: 'Защита персональных данных',
            description: 'Решения по защите персональных данных в информационной системе любого уровня защищенности, во исполнение ФЗ №152 от 27.07.2006 «О персональных...',
            type: 2,
            icon: 'catalog-4'
        },
        {
            title: 'Защита КИИ',
            description: 'Защита значимых объектов КИИ и организация защищенного взаимодействия с ГосСОПКА с помощью продуктов С-Терра',
            type: 2,
            icon: 'catalog-5'
        },
        {
            title: 'Защита виртуализации',
            description: 'Соблюдая требования российского законодательства и регуляторов ИБ, обеспечение надежной защиты в виртуальной среде',
            type: 2,
            icon: 'catalog-6'
        },
        {
            title: 'Защита подключения к СМЭВ',
            description: 'Выбор подходящих криптошлюзов для установки в информационной системе пользователя для защиты взаимодействия со СМЭВ',
            type: 2,
            icon: 'catalog-7'
        },
        {
            title: 'Обнаружение вторжений',
            description: 'Понятная и детализированная картина событий позволяет администратору построить гибкую и эффективную систему защиты',
            type: 2,
            icon: 'catalog-8'
        },
        {
            title: 'Защита межфилиальных взаимодействий',
            description: 'Надежная защита периметра корпоративной сети и постоянный мониторинг событий информационной безопасности для оперативного...',
            type: 2,
            icon: 'catalog-9'
        },

    ]