-
    var partners = [
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            disabled: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Калининград',
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: 'Ай Эс Джи, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко Проекты, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Теко, ЗАО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Груп, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Ай-Ти Бизнес Компани, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Айкриэйт, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйСиЭл — КПО ВС, ОАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АйТи Новация, ООО',
            city: 'Краснодар',
            area: 'Южный федеральный округ',
        },
        {
            title: 'АйТи Таск, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйТиБокс, ООО',
            city: 'Екатеринбург',
            area: 'Уральский федеральный округ',
        },
        {
            title: 'Айтуби, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АйЭсТи, ООО',
            city: 'Самара',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Акрибия. Исследования и разработки и дальше какой-то текст ',
            city: 'Санкт-Петербург',
            long: true,
            area: 'Северо-Западный федеральный округ',
        },
        {
            title: '4х4 Управляющая компания, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АБАК, ЗАО',
            city: 'Казань',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'Авалон, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АВИТЕК-СЕРВИС, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
        {
            title: 'АО «АСТ» (Автоматизированные системы и технологии)',
            city: 'Москва',
            long: true,
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Агентство моделей данных, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АДВ Консалтинг, ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Адванс Системс (А-Системс), ООО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'Админора, АО',
            city: 'Москва',
            area: 'Центральный федеральный округ',
        },
        {
            title: 'АИнБ, ООО',
            city: 'Пермь',
            area: 'Приволжский федеральный округ',
        },
    ]