-
    var searchitems = [
        {
            title: 'Сертификат Минкомсвязи России на С-Терра <b>Шлюз</b>',
            description: 'Получен сертификат Минкомсвязи России на Программно-аппаратный комплекс С-Терра <b>Шлюз</b> версии 4.3. Получен сертификат Минкомсвязи России на С-Терра <b>Шлюз</b> версии 4.3. Сертификат удостоверяет, что Программно-аппаратный комплекс ...'
        },
        {
            title: 'Защита канала 10 Гбит и больше',
            description: '... Средство защиты информации должно быть сертифицировано в отечественных регуляторах ФСБ России и ФСТЭК России. Состав продуктов: 2 х С-Терра <b>Шлюз</b> 10G Решение базируется на продукте С-Терра <b>Шлюз</b> 10G. Одна пара <b>Шлюз</b>ов безопасности С-Терра <b>Шлюз</b> 10G связывает территориально распределенную ...'
        },
        {
            title: 'Начало продаж <b>Шлюз</b>ов на АП Huawei',
            description: 'Доступны к заказу <b>Шлюз</b>ы безопасности С-Терра <b>Шлюз</b> на аппаратной платформе Huawei. Компания «С-Терра СиЭсПи» продолжает расширять спектр аппаратных платформ ...'
        },
        {
            title: 'С-Терра <b>Шлюз</b> 4.3',
            description: 'Закажите решение Исполнения: С-Терра <b>Шлюз</b> ST. Классы сертификации СКЗИ: КС1, КС2, KC3. Документация по установке и эксплуатации С-Терра <b>Шлюз</b>. Входит в линейку продуктов С-Терра VPN версии ...'
        },
        {
            title: 'С-Терра <b>Шлюз</b> 4.2',
            description: 'Исполнения: С-Терра <b>Шлюз</b> ST. Классы сертификации СКЗИ: КС1, КС2, КС3. Документация по установке и эксплуатации С-Терра <b>Шлюз</b>. Входит в линейку продуктов С-Терра VPN ...'
        },
        {
            title: 'Сертификат Минкомсвязи России на С-Терра <b>Шлюз</b>',
            description: 'Получен сертификат Минкомсвязи России на Программно-аппаратный комплекс С-Терра <b>Шлюз</b> версии 4.3. Получен сертификат Минкомсвязи России на С-Терра <b>Шлюз</b> версии 4.3. Сертификат удостоверяет, что Программно-аппаратный комплекс ...'
        },
        {
            title: 'Защита канала 10 Гбит и больше',
            description: '... Средство защиты информации должно быть сертифицировано в отечественных регуляторах ФСБ России и ФСТЭК России. Состав продуктов: 2 х С-Терра <b>Шлюз</b> 10G Решение базируется на продукте С-Терра <b>Шлюз</b> 10G. Одна пара <b>Шлюз</b>ов безопасности С-Терра <b>Шлюз</b> 10G связывает территориально распределенную ...'
        },
        {
            title: 'Начало продаж <b>Шлюз</b>ов на АП Huawei',
            description: 'Доступны к заказу <b>Шлюз</b>ы безопасности С-Терра <b>Шлюз</b> на аппаратной платформе Huawei. Компания «С-Терра СиЭсПи» продолжает расширять спектр аппаратных платформ ...'
        },
        {
            title: 'С-Терра <b>Шлюз</b> 4.3',
            description: 'Закажите решение Исполнения: С-Терра <b>Шлюз</b> ST. Классы сертификации СКЗИ: КС1, КС2, KC3. Документация по установке и эксплуатации С-Терра <b>Шлюз</b>. Входит в линейку продуктов С-Терра VPN версии ...'
        },
        {
            title: 'С-Терра <b>Шлюз</b> 4.2',
            description: 'Исполнения: С-Терра <b>Шлюз</b> ST. Классы сертификации СКЗИ: КС1, КС2, КС3. Документация по установке и эксплуатации С-Терра <b>Шлюз</b>. Входит в линейку продуктов С-Терра VPN ...'
        },
    ]