-
  var solutions = [
    {
      title: 'Защита подключения к ИС ЕПТ',
      icon: "./img/solutions/1.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита персональных данных',
      icon: "./img/solutions/2.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита межфилиальных взаимодействий',
      icon: "./img/solutions/3.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Теле&shy;комму&shy;ни&shy;ка&shy;ци&shy;он&shy;ная отрасль',
      icon: "./img/solutions/4.png",
      type: 'sector',
      link: '#',
    },
    {
      title: 'Защита подключения к ИС ЕПТ',
      icon: "./img/solutions/1.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита персональных данных',
      icon: "./img/solutions/2.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Защита межфилиальных взаимодействий',
      icon: "./img/solutions/3.png",
      type: 'complex',
      link: '#',
    },
    {
      title: 'Теле&shy;комму&shy;ни&shy;ка&shy;ци&shy;он&shy;ная отрасль',
      icon: "./img/solutions/4.png",
      type: 'sector',
      link: '#',
    },
  ]
