-
  var stats = [
    { value: '18', text: 'лет работы'},
    { value: '23', text: 'продукта&nbsp;в&nbsp;реестре российского&nbsp;ПО'},
    { value: '39', text: 'сертификатов ФСБ, ФСТЭК и&nbsp;Минкомсвязи России'},
    { value: '300+', text: 'партнеров во всех регионах России'},
    { value: '5000+', text: 'сетей защищают продукты С&#8209;Терра'},
  ]
