-
    var supportCourse = [
        {
            title: '<b>Курс 1.</b> Защита сетевой инфраструктуры на основе продуктов С-Терра',
            place: 'Собственный обучающий семинар',
            duration: '2 дня',
            description: 'Семинар предназначен для партнеров и заказчиков компании «С-Терра СиЭсПи».',
            image: './img/support-education/logo-1.png'
        },
        {
            title: '<b>Курс 2.</b> Защита сетевой инфраструктуры на основе продуктов С-Терра ',
            place: 'АНО ДПО ЦПК «АИС»',
            duration: '2 дня',
            description: 'Предназначен для сетевых администраторов, администраторов информационной безопасности, партнеров и Заказчиков компании «С-Терра...',
            image: './img/support-education/logo-2.png'
        },
        {
            title: '<b>Курс 3.</b> Защита сетевой инфраструктуры на основе продуктов S-Terra и решений Cisco Systems',
            place: 'УЦ «Эшелон»',
            duration: '2 дня / 16 часов',
            description: 'Предназначен для сетевых администраторов, администраторов информационной безопасности.',
            image: './img/support-education/logo-3.png'
        },
        {
            title: '<b>Курс 4.</b> Построение защищенных виртуальных сетей на основе IPsec с использованием алгоритмов...',
            place: 'АНО ДПО ЦПК «АИС»',
            duration: '5 дней / 40 часов',
            description: 'Предназначен для технических специалистов и инженеров в области информационной безопасности и безопасности сетей, отвечающих…',
            image: './img/support-education/placeholder.png',
            placeholder: true

        },
    ]