-
    var supportDocumentation4 = [
        {
            title: 'Законы РФ',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Указы Президента РФ',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Постановления Правительства РФ',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Документы уполномоченных федеральных органов',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Нормативно-правовые акты для подключения к СМЭВ',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Методические материалы',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
        {
            title: 'Другое',
            list: [
                {
                    title: 'ПП РФ от 08.02.2018 № 127',
                    description: '«Об утверждении Правил категорирования объектов КИИ РФ, а также перечня показателей критериев значимости объектов КИИ РФ и их значений»'
                },
                {
                    title: 'ПП РФ от 17.02.2018 № 162',
                    description: '«Об утверждении Правил осуществления госконтроля в области обеспечения безопасности значимых объектов КИИ РФ»'
                },
                {
                    title: 'ПП РФ от 01.11.2012 № 1119',
                    description: '«Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных»'
                },
                {
                    title: 'ПП РФ от 25.06.2012 № 634',
                    description: '«О видах электронной подписи, использование которых допускается при обращении за получением государственных и муниципальных услуг»'
                },
                {
                    title: 'ПП РФ от 16.04.2012 № 313',
                    description: '«Об утверждении положения о лицензировании деятельности по разработке, производству, распространению шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств (за исключением случая, если техническое обслуживание шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, осуществляется для обеспечения собственных нужд юридического лица или индивидуального предпринимателя)»'
                },
                {
                    title: 'ПП РФ от 06.11.2007 № 758',
                    description: '«О государственной аккредитации организаций, осуществляющих деятельность в области информационных технологий»'
                },
                {
                    title: 'ПП РФ от 26.06.1995 № 608',
                    description: '«О сертификации средств защиты информации»'
                },
                {
                    title: 'ПП РФ от 16.11.2015 № 1236',
                    description: '«Об установлении запрета на допуск иностранного программного обеспечения при закупках для государственных и муниципальных нужд»'
                },

            ]
        },
    ]