<!-- JUMBOTRON -->

.jumbotron
    .container
        .home-banner
            .home-banner__content
                .home-banner__text О компании
                .home-banner__description «С-Терра СиЭсПи» — российский разработчик и производитель средств сетевой информационной безопасности. Наша цель — обеспечить российский рынок современными решениями для построения VPN.
                a.btn.btn-accent(href="" download)
                    svg.btn-icon
                        use(href="./img/icons/icon-sprite.svg#download-arrow")
                    span Презентация о компании
            .home-banner__img
                img(src="./img/icons/about-banner.png", alt="")

<!-- /JUMBOTRON -->

