block content
    .catalog-description-block
        .catalog-description-block__wrap
            .catalog-description-block__title Преимущества продуктов и решений  С‑Терра
            .catalog-description-block__description Построение защищенных соединений, межсетевое экранирование, поддержка современных сетевых протоколов, соответствие требованиям регуляторов ИБ позволяет органично интегрировать решения и продукты С-Терра в существующую корпоративную сеть
            .catalog-description-block__items
                .catalog-description-block__items_col
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-1', 55, 50)
                        .catalog-description-block__item-text Легкая интеграция в инфраструктуру сети
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-3', 58, 46)
                        .catalog-description-block__item-text Сертификация ФСБ и ФСТЭК России
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-5', 56, 51)
                        .catalog-description-block__item-text Продукты в Реестре российского ПО

                .catalog-description-block__items_col
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-2', 60, 44)
                        .catalog-description-block__item-text Сisco-like интерфейс понятен каждому инженеру
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-4', 69, 44)
                        .catalog-description-block__item-text Стандартный протокол IPsec
                    .catalog-description-block__item
                        .catalog-description-block__item-icon
                            +svg-icon('teges-6', 63, 51)
                        .catalog-description-block__item-text Бесплатная техподдержка в первый год
            .catalog-description-block__subtitle Продукты С-Терра включены в «Единый реестр российских программ для ЭВМ и баз данных»
            .catalog-description-block__description.catalog-description-block__description__small Они могут использоваться как в государственных учреждениях, так и в коммерческих организациях в соответствии с отраслевыми стандартами и требованиями по защите информации:
            .catalog-description-block__lists
                ul.catalog-description-block__list
                    li конфиденциальной информации
                    li подключения информационных систем государственных органов к Интернет
                    li персональных данных
                    li объектов критической информационной инфраструктуры

                ul.catalog-description-block__list
                    li систем управления технологическими процессами (АСУ ТП)
                    li крупных территориально-распределенных сетей
                    li IP-телефонии, видеонаблюдения, видеоконференцсвязи, СКУД
                    li подключения к СМЭВ
