block content

    main.complex-card-jumbotron.page-main
        .bg-block
            .jumbotron
                .container
                    .complex-card-jumbotron__wrap
                        .complex-card-jumbotron__text
                            .complex-card-jumbotron__text__icon
                                img(src="./img/complex-card/main.svg")
                            .complex-card-jumbotron__text__icon__mobile
                                img(src="./img/complex-card/main-mob.svg")
                            .complex-card-jumbotron__text__content
                                .complex-card-jumbotron__text__title Защита удалённого доступа
                                .complex-card-jumbotron__text__description При переводе сотрудников организации на удаленную работу обеспечьте им защищенный доступ к корпоративным информационным ресурсам.
                                .complex-card-jumbotron__text__buttons.btn-dekstop
                                    button.btn.btn-accent.btn-lg Оставить заявку
                                    button.btn.btn-lg.btn-white Прайс-лист
                        .complex-card-jumbotron__text__buttons.btn-mobile
                            button.btn.btn-accent.btn-lg Заявка
                            button.btn.btn-lg.btn-white Прайс-лист