extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content
    .page.fix-100-vh-attention
        include components/header/index.pug
        .attention-page.page-main
            +breadcrumb(['Главная '], ' / Предупреждение об информации на сайте')
            .container
                .text-container
                    .attention-page-title Предупреждение об информации на сайте
                    .attention-page-content
                        p Вся информация, представленная на сайте, не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
                        p Компания «С-Терра СиЭсПи» оставляет за собой право вносить изменения в любые материалы, размещенные на сайте, без предварительного уведомления, за исключением случаев, прописанных в иных документах.
                        p Компания «С-Терра СиЭсПи» не несёт ответственности за негативные последствия, включая ущерб или упущенную выгоду, возникшие в результате использования материалов данного сайта.

        include components/footer/index.pug