extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content
    .page
        include components/header/index.pug
        .cases-page.page-main
            +breadcrumb(['Главная',' / Партнеры'], ' / Кейсы')
            .container
                .cases-page-title Кейсы
                .cases-page-grid
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/1.png")
                            .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                            .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/2.png")
                            .partner-history-slider__item__title «Аквариус»
                            .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image.partner-history-slider__item__image__placeholder
                                img(src="./img/partner/placeholder.svg")
                            .partner-history-slider__item__title «АТБ Электроника»
                            .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...

                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/1.png")
                            .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                            .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/2.png")
                            .partner-history-slider__item__title «Аквариус»
                            .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/3.png")
                            .partner-history-slider__item__title «АТБ Электроника»
                            .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...

                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/1.png")
                            .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                            .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/2.png")
                            .partner-history-slider__item__title «Аквариус»
                            .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/3.png")
                            .partner-history-slider__item__title «АТБ Электроника»
                            .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...

                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/1.png")
                            .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                            .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/2.png")
                            .partner-history-slider__item__title «Аквариус»
                            .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                    .partner-history-slider__item
                        a.partner-history-slider__item__wrap(href="#")
                            .partner-history-slider__item__image
                                img(src="./img/partner/3.png")
                            .partner-history-slider__item__title «АТБ Электроника»
                            .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...

                .vacancies-vacant__controll.js-control-text-cases-show
                    .vacancies-vacant__controll__text.js-control-text-cases Показано 6 из 9
                    button.js-control-more-cases.vacancies-vacant__controll__btn.btn.btn-primary-inverse Еще 3
            .bg-block
                .home-page__form
                    include pages/home/contact-form/index.pug


        include components/footer/index.pug