extends helpers/layout.pug

block content

  .page

    include components/header/index.pug

    main.page-main.home-page

      .bg-block
        .home-page__jumbotron
          include pages/home/jumbotron/index.pug

        .home-page__stats
          include pages/home/stats.pug

        .home-page__info
          include pages/home/info/index.pug

        .home-page__clients
          include pages/home/clients.pug

      .home-page__solutions
        include pages/home/solutions.pug

      .home-page__tech
        include pages/home/tech/index.pug

      .home-page__faq
        include pages/home/faq.pug


      .bg-block
        .home-page__cases
          include pages/home/cases.pug


      .home-page__news
        include pages/home/news.pug

      .bg-block
        .home-page__form
          include pages/home/contact-form/index.pug

    include components/footer/index.pug
