extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content

    .page

        include components/header/index.pug
        .vacancies-page
            main.page-main

                .bg-block
                    .vacancies-page__jumbotron
                        include pages/vacancies/jumbotron/index.pug

            +breadcrumb(['Главная ', ' / О компании'], ' / Работа у нас')



            include pages/vacancies/vacant/vacant.pug

            include pages/vacancies/review/review

            include pages/vacancies/work

        include components/footer/index.pug