@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin button {
  border: none;
  outline: none;
  font: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

@mixin cardShadow {
  cursor: pointer;

  transition: box-shadow 400ms ease-in-out;
  &:hover {
    box-shadow: 0 5px 15px var(--shadow);
  }
}

@mixin imgPlaceholder($size: 64px) {
  background-color: var(--block-background);
  background-image: url('../img/placeholders/image-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
  border: 1px solid var(--border)
}
