/********** PRESS NEWS PAGE **********/
.press-corp {
    min-height: 70%;

    .breadcrumb{
        margin-top: var(--header-height);
        &__list {
            padding-top: 28px;
            padding-bottom: 40px;
        }
    }
    @include tablet-up-max() { 
        .breadcrumb__list {
            padding-bottom: 32px;
        }
    }
}

.presscorp-page {


    &__title {
        margin-bottom: 41px;
        margin-right: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 120%;
        color: var(--dark-blue);
    }
    .js-item{
        padding-top: var(--gap);
        padding-bottom: var(--gap);
        display: flex;
        &.active{
        }
    }
    &__content{
        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .btn {
            padding: 0px 27px;

            .btn-icon {
                margin-right: 12px !important;
            }
        }
    }

    &__filter{
        display: flex;
        list-style: none;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 25px;
        &__item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-right: var(--space-unit);
            }

        }

        &__button {
            @include button;
            background: transparent;
            color: var(--primary);
            transition: color 250ms linear;

            &:hover {
                color: var(--primary-dark);
            }

            &.active {
                color: var(--accent);

                &:hover {
                    color: var(--accent-dark);
                }

                &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: var(--space-xs);
                    background: currentColor;
                }
            }
        }
        @include lg-tablet-up {
            font-size: 17px;

            &__item {
                &:not(:last-child) {
                    margin-right: calc(2.02 * var(--space-unit));
                }
            }
        }
    }

    &__content__button {
        justify-content: space-between;
        margin-bottom: 39px;
        align-items: center;
    }

    &__item {
        margin-bottom: 41px;
        text-decoration: none;
        display: block;
        border: 1px solid #DEDEF4;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 32px 27px 27px 27px;
    }
    &__image {
        margin-right: 22px;

        img {
            min-width: 140px;
            height: auto;
        }
    }
    &__content {

        .btn {
            font-size: 15px;
            margin: 0;
            height: 42px;

            .btn-icon {
                margin-right: 15px;
            }

        }
    }
     &__controll {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        &__text {
            margin-right: 29px;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 140%;
            color: #000000;
        }
        &__btn {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            display: flex;
            align-items: center;
            text-align: center;
            color: var(--primary);
            padding: 0px 31px;
        }
    }
    &__item__date {
        margin-bottom: 21px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #7373BA;
    }
    &__item__title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #000066;
        margin-bottom: 4px;
    }

    @include tablet-up-max() {
        &__title {
            font-size: 32px;
            margin-bottom: 27px;
        }
        &__filter {
            margin-bottom: 31px;
        }
        &__item__image {
            width: 100%;
            height: auto;
        }
        &__item__date {
            font-size: 11px;
            margin-bottom: 25px;
        }
        &__item__title {
            font-size: 15px;
            margin-bottom: 5px;
        }
        &__item__text {
            font-size: 13px;
        }
        &__contacts {
            max-width: inherit;
            width: 100%;
        }
        &__contacts__title {
            font-size: 11px;
        }
        &__contacts__phone-link {
            font-size: 20px;
        }
        &__contacts__email-link {
            font-size: 13px;
        }
        .breadcrumb span {
            font-size: 11px;
        }
        .press-news .breadcrumb__list {
            padding-bottom: 33px;
        }
        .pressnews-page__filter__item:not(:last-child) {
            margin-right: 21px;
        }
        &__selected {
            padding: 10px 14px 10px 19px;
        }
        &__content__button {
            margin-bottom: 41px;
        }
        &__contacts {
            margin-top: 60px;
        }
    }

    @include lg-phone-up-max() {
        &__contacts {
            width: 100%;
            min-width: inherit;
        }
        &__filter {
            flex-wrap: wrap;
        }
        .press-news .breadcrumb__list {
            padding-top: 16px;
            padding-bottom: 26px;
        }
        &__title {
            font-size: 25px;
            margin-right: 0px;
            width: 100%;
            margin-bottom: 15px;
        }
        &__filter__item {
            margin-bottom: 10px;
        }
        &__filter {
            margin-bottom: 26px; 
        }
        &__select {
            margin-bottom: 25px;
        }
        &__selects {
            top: 41px;
            width: 94%;
        }
        &__item__image {
            margin-bottom: 24px;
        }
        &__item {
            margin-bottom: 40px;
        }
        &__controll {
            margin-top: 25px;
        }
        &__content {
            margin-bottom: 80px;
        }
        &__contacts__title {
            margin-bottom: 12px;
        }
        &__item {
            flex-flow: column;
            padding-bottom: 60px;
        }
        &__image {
            width: 100%;
            text-align: center;
            margin: 0px;
            margin-bottom: 26px;

            img {
                width: 99px;
                margin-bottom: 0;
            }
        }
        &__content {
            margin-bottom: 0;
        }
        &__content__button {
            margin-bottom: 26px;
        }
    }
}

/********** /PRESS NEWS PAGE **********/