<!-- JUMBOTRON -->

.jumbotron
    .container
        .home-banner
            .home-banner__content
                .home-banner__text Решения компании «С-Терра СиЭсПи»
                .home-banner__description
                    ul
                        li Органично интегрируются в существующую информационную инфраструктуру
                        li Помогают реализовать новую современную систему защиты
                        li Применяются в соответствии с отраслевыми стандартами и требованиями по защите информации
                a.btn.btn-accent(href="" download)
                    svg.btn-icon
                        use(href="./img/icons/icon-sprite.svg#download-arrow")
                    span Каталог продукции
            .home-banner__img
                img(src="./img/catalog/compl/banner.png", alt="")

<!-- /JUMBOTRON -->

