@import "jumbotron";
@import "catalog";
@import "sert";
@import "description";


.catalog-compl-page{
  .breadcrumb__list{
    padding-bottom: 44px;
  }
  .catalog-block{
    margin-bottom: 70px;
  }
  .catalog-compl-sertificates{
    margin-bottom: 95px;
  }
  .catalog-description-block{
    margin-bottom: 87px;
  }
  .catalog-form{
    margin-bottom: 100px;
  }
  @include lg-tablet-up-max(){
    .catalog-block{
      margin-bottom: 44px;
    }
    .catalog-compl-sertificates{
      margin-bottom: 80px;
    }
    .catalog-description-block{
      margin-bottom: 69px;
    }
    .catalog-form{
      margin-top: 100px;
      margin-bottom: 80px;
    }
    .breadcrumb__list{
      padding-bottom: 35px;
    }
  }
  @include tablet-up-max(){
  }
  @include lg-phone-up-max(){
    .breadcrumb__list{
      padding-bottom: 33px;
    }
    .catalog-block{
      margin-bottom: 84px;
    }
    .catalog-compl-sertificates{
      margin-bottom: 82px;
    }
    .catalog-form{
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
}


.catalog-ind-page{
  .breadcrumb__list{
    padding-bottom: 44px;
  }
  .catalog-block{
    margin-bottom: 70px;
  }
  .catalog-compl-sertificates{
    margin-bottom: 95px;
  }
  .catalog-description-block{
    margin-bottom: 87px;
  }
  .catalog-form{
    margin-bottom: 100px;
  }
  @include lg-tablet-up-max(){
    .catalog-block{
      margin-bottom: 44px;
    }
    .catalog-compl-sertificates{
      margin-bottom: 80px;
    }
    .catalog-description-block{
      margin-bottom: 69px;
    }
    .catalog-form{
      margin-top: 100px;
      margin-bottom: 80px;
    }
    .breadcrumb__list{
      padding-bottom: 35px;
    }
  }
  @include tablet-up-max(){
  }
  @include lg-phone-up-max(){
    .breadcrumb__list{
      padding-bottom: 33px;
    }
    .catalog-block{
      margin-bottom: 84px;
    }
    .catalog-compl-sertificates{
      margin-bottom: 82px;
    }
    .catalog-form{
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
}