
section.home-faq
    .container
        .home-faq__accordion


            div.accordion#home-faq
                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title <b>Пример 1.</b> Доступ с устройств на ОС Windows
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            strong Задача
                            p Обеспечить безопасный удаленный доступ 5 (пяти) сотрудников с рабочих мест (ноутбуков и РС) под управлением ОС Windows.
                            strong Состав продукта
                            .table
                                .table-col
                                    .table-col__head Центральный офис
                                    .table-col__body
                                        .table-col__body__title 1 x С-Терра Шлюз
                                        p (опционально) С-Терра КП на 10 VPN-устройств
                                        p.separator или
                                        .table-col__body__title 1 x С-Терра Виртуальный Шлюз
                                        p (опционально) С-Терра КП на 10 VPN-устройств

                                .table-col
                                    .table-col__head Удалённые пользователи
                                    .table-col__body
                                        .table-col__body__title 5 х С-Терра Клиент
                            p Решение базируется на продуктах С-Терра Шлюз и С-Терра Клиент. В центральном офисе устанавливается шлюз безопасности С-Терра Шлюз, который будет агрегировать на себе клиентские подключения, и опционально С-Терра КП. На рабочие места удаленных пользователей устанавливаются дистрибутивы С-Терра Клиент. Реализована поддержка всех актуальных версий Windows. Клиенты могут использовать любой подходящий вариант подключения (Ethernet, Wi-fi, 4G‑модем). Схема такого решения представлена на <b>рисунке 1</b>:
                            img(src="./img/complex-card/image-1.png")
                            p <b>Рисунок 1.</b> Схема решения для Примера 1
                            a.btn.btn-primary-inverse(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#i-arrow-2")
                                span Сценарий настройки решения (PDF)
                            p Вместо С-Терра Шлюз для агрегирования клиентских подключений можно использовать С-Терра Виртуальный Шлюз. Схема решения представлена на <b>рисунке 1а</b>:
                            img(src="./img/complex-card/image-2.png")
                            p <b>Рисунок 1а.</b> Схема решения для Примера 1 с использованием С-Терра Виртуальный Шлюз

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title <b>Пример 2.</b> Доступ с устройств на ОС Windows
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title <b>Пример 3.</b> Доступ с устройств на ОС Astra Linux
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title <b>Пример 4.</b> Доступ с устройств на различных операционных системах
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.


