include ../../apps/index.pug

.contacts-block
  .contacts-block__question
    button.btn.btn-primary-inverse.btn-block(type="button" data-ask-question) Задать вопрос

  .contacts-block__mail
    .contacts-block__label Напишите нам
    a(href="mailto:information@s-terra.ru") information@s-terra.ru

  .contacts-block__apps
    +apps('colored')
