block content

    .industry-card-items
        .container
            .industry-card-items__title Для организации безопасной удаленной работы сотрудников используйте продукты С-Терра:
            .industry-card-items__wrap
                .industry-card-items-slider.js-items-slider-1
                    .industry-card-items__item
                        .industry-card-items__item__wrap
                            .industry-card-items__item__title С-Терра Клиент 4.3
                            .industry-card-items__item__description Программный комплекс, предназначенный для защиты и фильтрации трафика с контролем состояния сессий для пользовательских...
                            .industry-card-items__item__blocks
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Исполнения
                                    .industry-card-items__item__block__value С-Терра Клиент ST
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Классы сертификации СКЗИ
                                    .industry-card-items__item__block__value КС1, КС2
                            .industry-card-items__item__footer
                                .industry-card-items__item__footer__image
                                    img(src="./img/industry-card/items/1.png")
                                a.btn.btn-primary-inverse(href="#") Подробнее

                    .industry-card-items__item
                        .industry-card-items__item__wrap
                            .industry-card-items__item__title С-Терра Виртуальный Шлюз 4.3
                            .industry-card-items__item__description Шлюз безопасности, функционирующий в виртуальной машине, созданной в одном из наиболее популярных гипервизоров (VMware…
                            .industry-card-items__item__blocks
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Исполнения
                                    .industry-card-items__item__block__value С-Терра Виртуальный Шлюз ST
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Классы сертификации СКЗИ
                                    .industry-card-items__item__block__value КС1
                            .industry-card-items__item__footer
                                .industry-card-items__item__footer__image
                                    img(src="./img/industry-card/items/2.png")
                                a.btn.btn-primary-inverse(href="#") Подробнее

                    .industry-card-items__item
                        .industry-card-items__item__wrap
                            .industry-card-items__item__title С-Терра Юнит 4.3
                            .industry-card-items__item__description Компактный программно-аппаратный комплекс (ПАК), предназначенный для обеспечения безопасности низкоскоростных каналов связи.
                            .industry-card-items__item__blocks
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Исполнения
                                    .industry-card-items__item__block__value С-Терра Юнит ST
                                .industry-card-items__item__block
                                    .industry-card-items__item__block__title Классы сертификации СКЗИ
                                    .industry-card-items__item__block__value КС1, КС2
                            .industry-card-items__item__footer
                                .industry-card-items__item__footer__image
                                    img(src="./img/industry-card/items/3.png")
                                a.btn.btn-primary-inverse(href="#") Подробнее

                .industry-card-items__control.js-items-slider-control-1
                    button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                        +svg-icon('chevron-left', 7, 12)
                    button.btn.btn-primary-inverse.btn-round(data-controls="next")
                        +svg-icon('chevron-right', 7, 12)