block content
    .container
        .industry-card-clients__wrap
            .industry-card-clients__title Наши клиенты
            .industry-card-clients-slider.js-clients-slider-1
                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/1.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/2.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/3.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/4.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/5.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/6.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/1.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/2.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/3.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/4.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/5.png")

                .industry-card-clients__item
                    a.industry-card-clients__item__wrap(href="#")
                        .industry-card-clients__item__image
                            img(src="./img/industry-card/clients/6.png")

            .industry-card-clients__control.js-clients-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)