block content


    .container
        .awards-item-page__title Награда и диплом по итогам Infosecurity Russia 2015

        .awards-item-page__content.row
            .awards-item-page__images-block.col.col-12.col-md-4
                .awards-item-page__images-slider__top.my-gallery#awards-item-page__images-slider__top
                    .slider-item
                        figure
                            a(href="./img/awards-item.png")
                                img(src="./img/awards-item.png" alt="")
                                .slider-item__icons
                                    .slider-item__icons-wrap
                                        +svg-icon('loop', 28, 28)
                    .slider-item
                        figure
                            a(href="./img/awards-item-2.png")
                                img(src="./img/awards-item-2.png" alt="")
                                .slider-item__icons
                                    .slider-item__icons-wrap
                                        +svg-icon('loop', 28, 28)

                    .slider-item
                        figure
                            a(href="./img/awards-item-3.png")
                                img(src="./img/awards-item-3.png" alt="")
                                .slider-item__icons
                                    .slider-item__icons-wrap
                                        +svg-icon('loop', 28, 28)
                    .slider-item
                        figure
                            a(href="./img/awards-item-4.png")
                                img(src="./img/awards-item-4.png" alt="")
                                .slider-item__icons
                                    .slider-item__icons-wrap
                                        +svg-icon('loop', 28, 28)
                    .slider-item
                        figure
                            a(href="./img/awards-item-5.png")
                                img(src="./img/awards-item-5.png" alt="")
                                .slider-item__icons
                                    .slider-item__icons-wrap
                                        +svg-icon('loop', 28, 28)
                .awards-item-page__images-slider__bottom
                    ul#awards-item-page__images-slider__bottom
                        li
                            img(src="./img/awards-item.png")
                        li
                            img(src="./img/awards-item-2.png")
                        li
                            img(src="./img/awards-item-3.png")
                        li
                            img(src="./img/awards-item-4.png")
                        li
                            img(src="./img/awards-item-5.png")
            .awards-item-page__text-block.col.col-12.col-md-8
                .awards-item-page__text-block__content
                    p Компания «С-Терра СиЭсПи» приняла участие в выставке «Infosecurity Russia 2015», которая проходила с 23 по 25 сентября в МВЦ «Крокус Экспо».
                    p Экспозиция компании под девизом «Российское — это наше!» пользовалась у посетителей потрясающим успехом. Что неудивительно, ведь на этот раз был представлен ряд новейших продуктов и решений для защиты сетей связи. В том числе:
                    ul
                        li Универсальный сервисный криптомаршрутизатор ESR-ST — уникальная совместная разработка двух российских производителей, объединяющая в себе функции VPN-шлюза, межсетевого экрана и мультифункционального сервисного маршрутизатора.
                        li Мини-шлюз С-Терра Юнит — самый миниатюрный на российском рынке VPN-шлюз для защиты низкоскоростных каналов связи, СКУД, а также АСУ ТП. Мини-шлюз обладает всей необходимой функциональностью шлюза безопасности, включая межсетевое экранирование.
                        li Перспективное решение С-Терра по защите высокопроизводительных каналов связи. Уникальность решения для 10G в том, что для защиты такого канала связи используется только одно устройство (с каждой стороны канала). Это достигнуто благодаря применению нового мощного устройства С-Терра Шлюз 10G.
                    p Помимо представленной экспозиции, «С-Терра СиЭсПи» предложила посетителям два доклада:
                    ul
                        li «Производство сертифицированных VPN-решений в условиях импортозамещения» в исполнении технического директора компании Христофора Газарова.
                        li «VPN ГОСТ в виртуальной среде» в исполнении руководителя отдела технического консалтинга Александра Веселова.
                    p В качестве «изюминки» стенда сотрудники компании «С-Терра СиЭсПи» предлагали гостям построить свою VPN с помощью занятного магнитного конструктора-пазла. И мало кто мог равнодушно пройти мимо изящно инсталлированной лупы, подчеркивающей миниатюрность С-Терра Юнит.
                    p Кроме новых контактов, интересных знакомств и полезной информации о тенденциях в отрасли ИБ, «С-Терра СиЭсПи» получила приз за разработку универсального сервисного криптомаршрутизатора совместно с предприятием «Элтекс», а также диплом за активное участие в подготовке и проведении выставки.
                .awards-item-page__text-block__btn-group
                    a.btn.btn-primary-inverse.btn-round(href="#")
                        +svg-icon('chevron-left', 7, 12)
                    a.btn.btn-primary-inverse.btn-round(href="#")
                        +svg-icon('chevron-right', 7, 12)
                    a.btn.btn-primary-inverse(href="#") К списку наград

