
section.home-faq
    .container
        .home-faq__accordion


            div.accordion#home-faq
                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title Защита взаимодействия между отделениями одной организации
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title Удаленный доступ сотрудников
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title Подключение к СМЭВ
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title Защита взаимодействия с ЦОД
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

                section.home-faq-item.accordion-item
                    header.home-faq-item__header.accordion-item-header.accordion-trigger
                        h2.home-faq-item__title Защита взаимодействия с зарубежными филиалами
                        .home-faq-item__state
                    .accordion-item-panel
                        .home-faq-item__content
                            p Защита взаимодействий в территориально-распределенной сети организации — типовая задача для решения с помощью продуктов С-Терра, многократно проверенная нашими заказчиками.
                            p В каждом отделении устанавливается криптошлюз, реализующий IPsec VPN c ГОСТ-алгоритмами и межсетевое экранирование. Благодаря широкой линейке продуктов С-Терра, можно подобрать подходящее устройство для решения любой задачи, с требуемой скоростью передачи данных.
                            p Для повышения отказоустойчивости канала связи с критически важными объектами в продуктах С‑Терра поддерживается кластеризация.

