block content
    .vacancy-sidebar
        .vacancy-sidebar__title Другие вакансии
        .vacancy-sidebar__content.row
            .col.col-12.col-sm-6.col-md-12
                a.vacancy-sidebar__content-item(href="#")
                    .vacancy-sidebar__content-item__subtitle Зеленоград
                    .vacancy-sidebar__content-item__title Инженер по тестированию ПО

            .col.col-12.col-sm-6.col-md-12
                a.vacancy-sidebar__content-item(href="#")
                    .vacancy-sidebar__content-item__subtitle МОсква
                    .vacancy-sidebar__content-item__title Разработчик С/С++ (x86, mips, arm)
            .col.col-12.col-sm-6.col-md-12
                a.vacancy-sidebar__content-item(href="#")
                    .vacancy-sidebar__content-item__subtitle Зеленоград
                    .vacancy-sidebar__content-item__title Менеджер в коммерческий отдел
        button.vacancy-sidebar__btn.btn.btn-primary-inverse Все вакансии

