include ./mixin

block content
    .superior.partner-superior
        .container
            .superior-title Преимущества партнерства  с нами
            .superior-grid
                +superior('about-number-1', 'Первое преимущество', 'Продукты компании внесены в Единый реестр российских программ Минкомсвязи. Все продукты проходят обязательную сертификацию у регуляторов ФСБ России и ФСТЭК России и работают на отечественных аппаратных платформах из Единого реестра российской радиоэлектронной продукции и телекоммуникационного оборудования')

                +superior('about-number-2', 'Второе преимущество', 'Организация имеет статус «исследовательская лаборатория» ФСБ России, что позволяет ей проводить тематические исследования в области сертификации данного регулятора. Технические специалисты являются экспертами отрасли и состоят в техническом комитете по стандартизации «Криптографическая защита информации»')
                +superior('about-number-3', 'Третье преимущество', 'Продукты С-Терра работают в соответствии с международными стандартами IKE/IPsec (RFC2401-2412), которые используются\n' +
                '    для обеспечения защиты данных, передаваемых по открытым каналам связи и сетям международного обмена')
