include ./index

block content
    .superior
        .container
            .superior-grid
                +superior('about-number-1', 'Соответствие требованиям (Compliance)', 'Продукты компании внесены в Единый реестр российских программ Минкомсвязи. Все продукты проходят обязательную сертификацию у регуляторов ФСБ России и ФСТЭК России и работают на отечественных аппаратных платформах из Единого реестра российской радиоэлектронной продукции и телекоммуникационного оборудования')

                +superior('about-number-2', 'Компетенции', 'Организация имеет статус «исследовательская лаборатория» ФСБ России, что позволяет ей проводить тематические исследования в области сертификации данного регулятора. Технические специалисты являются экспертами отрасли и состоят в техническом комитете по стандартизации \n' +
                '    «Криптографическая защита информации»')
                +superior('about-number-3', 'Проверенные мировые технологии', 'Продукты С-Терра работают в соответствии с международными стандартами IKE/IPsec (RFC2401-2412), которые используются\n' +
                '    для обеспечения защиты данных, передаваемых по открытым каналам связи и сетям международного обмена')
                +superior('about-number-4', 'Экономическая эффективность', 'Мы придерживаемся политика открытого прайс-листа, даем 3 года гарантии на аппаратные платформы и бесплатный год технической поддержки при приобретении оборудования')
                +superior('about-number-5', 'Уникальные сценарии защиты', 'Мы предлагаем уникальные для российского рынка сценарии защиты: аналог технологии DMVPN/DSVPN и другие варианты Route-based VPN')
                +superior('about-number-6', 'Компетентная поддержка', 'Мы поможем подобрать решение для вашей задачи, организовать пилот и тестирование')

