.home-tech {
  &__wrapper {
    margin-bottom: -40px;
  }

  &-item {
    min-height: 422px;
    text-decoration: none;

    padding: var(--space-lg) calc(2 * var(--space-sm));
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 40px;

    &__title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: calc(2 * var(--space-sm));
    }

    &__link {
      margin-top: auto;
      font-size: 15px;
      font-weight: 500;

      svg {
        margin-left: 15px;
        display: inline-block;
        transform: translateY(1px);
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: var(--space-md);
    }

    // &:hover {
    //   .envelope,
    //   .box {
    //     animation-name: docsMove;
    //     animation-duration: 2000ms;
    //     animation-iteration-count: infinite;
    //     animation-timing-function: linear;
    //   }
    //   .envelope-1 {
    //     animation-delay: 107ms;
    //   }
    //   .envelope-2 {
    //     animation-delay: 213ms;
    //   }
    //   .envelope-2 {
    //     animation-delay: 379ms;
    //   }
    //   .box-1 {
    //     animation-delay: 301ms;
    //   }
    //   .line {
    //     animation-name: linesMove;
    //     animation-duration: 1400ms;
    //     animation-iteration-count: infinite;

    //     &-2 {
    //       animation-delay: 310ms;
    //     }
    //     &-3 {
    //       animation-delay: 178ms;
    //     }
    //   }
    //   .tablet {
    //     animation-name: tablet1Move;
    //     animation-duration: 2500ms;
    //     animation-iteration-count: infinite;
    //     animation-timing-function: linear;

    //     &-1 {
    //       animation-name: tablet2Move;
    //     }
    //   }
    // }
  }

  @include tablet-up {
    &__wrapper {
      display: flex;
      margin-left: calc(-1 * var(--gap));
      margin-right: calc(-1 * var(--gap));
    }

    &-item {
      margin-left: var(--gap);
      margin-right: var(--gap);
      flex-basis: 50%;
      flex-grow: 1;
    }
  }

  @include lg-tablet-up {
    &__wrapper {
    }
    &-item {
      padding: var(--space-lg);
      &__title {
        font-size: 28px;
      }
      &__icon {
        margin-bottom: 0;
      }
    }
  }

  @include sm-desktop-up {
    &-item {
      min-height: 290px;

      &__icon {
        position: absolute;
        right: 40px;
        top: 0;
        bottom: 0;
      }

      &__title {
        max-width: calc(100% - 310px);
      }
    }
  }
}

// @keyframes docsMove {
//   from {
//     transform: translateY(0);
//   }
//   25% {
//     transform: translateY(4px);
//   }
//   75% {
//     transform: translateY(-4px);
//   }
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes tablet1Move {
//   from {
//     transform: translateY(0);
//   }
//   25% {
//     transform: translateY(-9px);
//   }
//   75% {
//     transform: translateY(4px);
//   }
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes tablet2Move {
//   from {
//     transform: translateY(0);
//   }
//   25% {
//     transform: translateY(-3px);
//   }
//   75% {
//     transform: translateY(3px);
//   }
//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes linesMove {
//   from {
//     transform: translateX(16px);
//   }
//   to {
//     transform: translateX(0px);
//   }
// }
