block content
    .product-card-video-slider
        .product-card-video-slider__wrap
            .product-card-video-slider__title Обучающее видео
            .product-card-video-slider-slider.js-video-slider-1
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video.png")
                        .product-card-video-slider__item__title <b>Урок 2: </b> Как быстро развернуть демо стенд?
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video2.png")
                        .product-card-video-slider__item__title <b>Урок 10: </b> Как быстро настроить кластер
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video3.png")
                        .product-card-video-slider__item__title <b>Урок 11: </b> Мониторинг: syslog, SNMP, Zabbix
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video.png")
                        .product-card-video-slider__item__title <b>Урок 2: </b> Как быстро развернуть демо стенд?
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video2.png")
                        .product-card-video-slider__item__title <b>Урок 10: </b> Как быстро настроить кластер
                .product-card-video-slider__item
                    a.product-card-video-slider__item__wrap(href="#")
                        .product-card-video-slider__item-image
                            img(src="./img/product-card/video3.png")
                        .product-card-video-slider__item__title <b>Урок 11: </b> Мониторинг: syslog, SNMP, Zabbix
            .product-card-video-slider-slider__control.js-video-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse Все видеоуроки
