.support-main-page{
  .jumbotron{
    height: 450px;
    .btn{
      padding-left: 42px;
      padding-right: 42px;
    }
    .btn-icon{
      width: 22px;
      height: 22px;
      margin-right: 19px;
      color: white;
    }
  }
  .home-banner__content{
    padding-top: 90px;
  }
  .home-banner__text{
    margin-bottom: 20px;
  }
  .home-banner__description{
    margin-bottom: 35px;
    max-width: 566px;
    p{
      line-height: 140%;
    }
  }
  .home-banner-buttons{
    display: flex;
    align-items: center;
    .btn{
      padding-left: 0;
      padding-right: 0;
      &:first-child{
        width: 343px;
        margin-right: 18px;
      }
      &:nth-child(2){
        width: 315px;
      }
      .desktop{

      }
      .mobile{
        display: none;
      }
    }
  }
  .home-banner__img img{
    max-height: 332px;
    bottom: unset;
    top: 76px;
    right: unset;
    left: 131px;
  }
}

@media (max-width: 1020px){
  .support-main-page{
    .jumbotron{
      height: 370px;
      .btn{
        padding-left: 30px;
        padding-right: 30px;
      }
      .btn-icon{
        width: 19px;
        height: 19px;
        margin-right: 12px;
      }
    }
    .home-banner__content{
      padding-top: 40px;
      padding-bottom: 52px;
      padding-right: 30px;
      width: unset;
      flex-grow: 1;
    }
    .home-banner__text{
      font-size: 32px;
      line-height: 120%;
      margin-bottom: 14px;
      max-width: 400px;
    }
    .btn{
      height: 42px;
      font-size: 15px;
      line-height: 100%;
    }
    .home-banner__description{
      margin-bottom: 32px;
      p{

        font-size: 13px;
        line-height: 140%;
        max-width: 400px;
      }
      ul{
        max-width: 401px;
        li{
          font-size: 13px;
          line-height: 140%;
          margin-bottom: 12px;
          padding-left: 26px;
          &::after{
            top: 6px;
          }
          &:last-child{
          }
        }
      }
    }
    .home-banner__img {
      width: unset;
    }
    .home-banner-buttons{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .btn{
        &:first-child{
          margin-bottom: 17px;
          width: 288px;
        }
        &:last-child{
          margin-bottom: 17px;
          width: 242px;
          padding-left: 0;
          padding-right: 0;
          font-size: 15px;
        }
        .desktop{

          display: none;
        }
        svg{

          margin-right: 9px;
        }
        .mobile{
          display: block;
        }
      }
    }

    .home-banner__img img{
      margin-top: 44px;
      position: relative;
      top: unset;
      left: unset;
      max-height: 280px;
    }
  }
}
@media (max-width: 767px){
  .support-main-page{
    .jumbotron{
    }
    .home-banner__content{
      padding-top: 31px;
      padding-bottom: 47px;
      align-items: flex-start;
      padding-right: 0;
    }
    .home-banner__text{
      text-align: left;
      margin-bottom: 15px;
    }
    .btn-icon{
    }
    .btn{
    }
    .home-banner__description{
      margin-bottom: 34px;
      text-align: left;
      p{
        text-align: left;
      }
      ul{
        li{
          text-align: left;
          padding-left: 26px;
          &::after{
          }
          &:last-child{
          }
        }
      }
    }
    .home-banner__img {
    }
    .home-banner__img img{
    }
  }
}