<!-- Work -->

include ../../mixins/slider

section.vacancies-work
  .container
    header.vacancies-work__header
      h2.h1.vacancies-work__title Оценка условий труда

  #work-slider.scroll-slider
    .scroll-slider-viewport
      .scroll-slider-slides
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 2 июля 2019
            .vacancies-work-slide__title Сводная ведомость СОУТ и Перечень рекомендуемых мероприятий
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 16 февраля 2016
            .vacancies-work-slide__title Заключение эксперта 305-36541 по результатам СОУТ_21012016
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 16 февраля 2016
            .vacancies-work-slide__title Отчет о проведении СОУТ_16022016
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 2 июля 2019
            .vacancies-work-slide__title Сводная ведомость СОУТ и Перечень рекомендуемых мероприятий
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 2 июля 2019
            .vacancies-work-slide__title Сводная ведомость СОУТ и Перечень рекомендуемых мероприятий
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF
        .vacancies-work-slide.scroll-slider-slide.c-col-12.c-col-sm-6.c-col-lg-4
          .vacancies-work-slide-wrap
            .vacancies-work-slide__date 2 июля 2019
            .vacancies-work-slide__title Сводная ведомость СОУТ и Перечень рекомендуемых мероприятий
            a.btn.btn-primary-inverse(href="" download)
              svg.btn-icon
                use(href="./img/icons/icon-sprite.svg#download-arrow")
              span Скачать PDF


    .container
      +slider-controls()

<!-- /SOLUTIONS -->
