include ./review-item

block content

    .vacancies-review
        .vacancies-review__wrap
            .vacancies-review__title Отзывы наших сотрудников
            .vacancies-review-slider
                +review-item()
                +review-item()
                +review-item()
                +review-item()
