

block content

    .vacancy-main
        .vacancy-main__title Инженер по тестированию ПО
        .vacancy-main__description
            .vacancy-main__description-item
                .title Город
                .value Зеленоград
            .vacancy-main__description-item
                .title Зарплата
                .value от 100 000 ₽ на руки
        .vacancy-main__btn-group
            a.btn.btn-primary(href="#vacancy-form") Откликнуться
            button.btn.btn-primary-inverse Контакты

        .vacancy-main__block
            .vacancy-main__block__title Требования
            ul.vacancy-main__block__list
                li Компания предлагает возможность работы на рынке ИБ с крупными Заказчиками; официальное трудоустройство в соответствии с Трудовым кодексом РФ; белая заработная плата по результатам собеседования;
                li  Высшее образование или студент последних курсов;
                li Знание основ сетевых технологий (маршрутизация, ip-адреса);
                li Умение настраивать сеть типа site-to-site с промежуточным устройством;
                li Базовые знания командной строки Linux;
                li Знание английского языка на уровне чтения технической литературы;
                li Личные качества: без вредных привычек, ответственность, умение работать в команде;

        .vacancy-main__block
            .vacancy-main__block__title Требования
            ul.vacancy-main__block__list
                li  Желание работать в сфере тестирования ПО;
                li  Высшее образование или студент последних курсов;
                li Знание основ сетевых технологий (маршрутизация, ip-адреса);
                li Умение настраивать сеть типа site-to-site с промежуточным устройством;
                li Базовые знания командной строки Linux;
                li Знание английского языка на уровне чтения технической литературы;
                li Личные качества: без вредных привычек, ответственность, умение работать в команде;

        .vacancy-main__block
            .vacancy-main__block__title Требования
            ul.vacancy-main__block__list
                li  Желание работать в сфере тестирования ПО;
                li  Высшее образование или студент последних курсов;
                li Знание основ сетевых технологий (маршрутизация, ip-адреса);
                li Умение настраивать сеть типа site-to-site с промежуточным устройством;
                li Базовые знания командной строки Linux;
                li Знание английского языка на уровне чтения технической литературы;
                li Личные качества: без вредных привычек, ответственность, умение работать в команде;

        .vacancy-main__contacts
            .vacancy-main__contacts__title Контакты отдела персонала
            a.vacancy-main__contacts__phone-link(href="tel:+7 (499) 940-90-61") +7 (499) 940-90-61
            a.vacancy-main__contacts__email-link(href="mailto:hiring@s-terra.ru") hiring@s-terra.ru
