include ./history-item

block content

    .about-history
        .about-history__wrap
            .about-history__title История
            .about-history-slider
                .history__item
                    .history__item-wrap
                        .history__item-title 2015
                        .history__item-text
                            p Сертификация в ФСБ России продуктов С-Терра Шлюз и С-Терра Клиент в качестве межсетевых экранов с классом сертификации МЭ4.
                            p Обновление обучающего курса компании, расширение сотрудничества с Учебными центрами.
                            p Успешное тестирование на совместимость продукта С-Терра Клиент-М и российского смартфона YotaPhone 1 и 2.
                            p Заключение технологического партнерства с компанией Huawei. Получение статуса Авторизованный партнер.
                            p Выпуск универсального комплекта: маршрутизатор Huawei с модулем шифрования с установленным VPN-шлюзом С-Терра Виртуальный Шлюз.
                            p Представление на выставке «Infosecurity Russia» новых продуктов:
                            ul
                                li Компактный С-Терра Юнит
                                li Высокопроизводительный С-Терра Шлюз 10G
                                li Российский Универсальный сервисный криптомаршрутизатор ESR-ST — в партнерстве с предприятием «Элтекс» (Новосибирск)
                            p Расширение линейки продуктов С-Терра выпуском средства для обнаружения атак (вторжений). Выход бета-версии С-Терра СОВ.
                            p Открытие официальных страниц компании в социальных сетях:
                        .history__item-social
                            .apps.colored
                                ul.apps-list
                                    li
                                        a.app-icon.app-icon-fb(href="#" target="_blank" rel="noopener noreferrer nofollow")
                                            img.icon(src="./img/apps/fb.png")
                                            img.colored-icon(src="./img/apps/fb-color.png")
                                    li
                                        a.app-icon.app-icon-yt(href="#" target="_blank" rel="noopener noreferrer nofollow")
                                            img.icon(src="./img/apps/yt.png")
                                            img.colored-icon(src="./img/apps/yt-color.png")
                                    li
                                        a.app-icon.app-icon-vk(href="#" target="_blank" rel="noopener noreferrer nofollow")
                                            img.icon(src="./img/apps/vk.png")
                                            img.colored-icon(src="./img/apps/vk-color.png")
                .history__item
                    .history__item-wrap
                        .history__item-title 2016
                        .history__item-text
                            p Внесение продуктов С-Терра в Единый реестр российских программ для ЭВМ и баз данных.
                            p Выпуск виртуального модуля С-Терра CSCO-STVM для маршрутизаторов Cisco нового поколения.
                            p Выпуск криптомаршрутизатора Zelax-ST – совместного продукта с зеленоградской компанией Zelax.
                            p Внесение шлюзов безопасности С-Терра в список рекомендованных к использованию для защиты подключения к СМЭВ.
                            p Начало продаж семейства новых модулей HW-ST, расширяющих возможности маршрутизаторов Huawei функциональностью VPN-шлюза С-Терра с ГОСТ-криптографией.
                            p Предложение рынку новой услуги «Установка С-Терра VPN на вашу аппаратную платформу».
                            p Применение шлюзов безопасности С-Терра для защиты персональных данных Единого лесопожарного центра Архангельской области.


                .history__item
                    .history__item-wrap
                        .history__item-title 2014
                        .history__item-text
                            p Изменение названия продуктов «CSP VPN» на «С-Терра». Начало продаж новой линейки сертифицированных продуктов С-Терра версии 4.1.
                            p Выход на рынок первого VPN-шлюза для встраивания в виртуальную инфраструктуру – С-Терра Виртуальный Шлюз.
                            p Получение по результатам тестирования статуса Citrix Ready на продукты С-Терра Виртуальный Шлюз и С-Терра Клиент-М.
                            p Вручение почетной награды Samsung в номинации «Мобильные решения» как одному из ключевых корпоративных партнеров в 2013 г. за существенный вклад и значительные усилия по реализации проекта создания клиента безопасности для мобильных платформ Samsung на базе ОС Android.
