block content
    .product-card-tabs
        .container
            .product-card-tabs__wrap.tab
                ul.product-card-tabs__head.tab-head
                    li.product-card-tabs__head-item.tab-head__item(data-type="1")
                        .tab-head__button.active Характеристики
                    li.product-card-tabs__head-item.tab-head__item(data-type="2")
                        .tab-head__button Технологии
                    li.product-card-tabs__head-item.tab-head__item(data-type="3")
                        .tab-head__button Эксплуатация
                .tab-body
                    .tab-body__item( data-type="1")
                        div.accordion.tabs-accordion
                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Надежная защита передаваемого трафика
                                    .home-faq-item__state
                                .accordion-item-panel
                                    .home-faq-item__content
                                        ul
                                            li Шифрование и имитозащита передаваемого трафика — по протоколам IPsec (RFC2401-2412), с использованием современных российских криптографических алгоритмов
                                            li Маскировка топологии защищаемого сегмента сети
                                            li Аутентификация абонентов — по протоколу IKE (RFC2407, RFC2408, RFC2409, RFC 2412)
                                            li Интегрированный межсетевой экран со stateless фильтрацией IP-трафика и stateful фильтрацией для протоколов TCP и FTP

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Построение защищенных сетей любой сложности
                                    .home-faq-item__state
                                .accordion-item-panel
                                    .home-faq-item__content
                                        ul
                                            li Шифрование и имитозащита передаваемого трафика — по протоколам IPsec (RFC2401-2412), с использованием современных российских криптографических алгоритмов
                                            li Маскировка топологии защищаемого сегмента сети
                                            li Аутентификация абонентов — по протоколу IKE (RFC2407, RFC2408, RFC2409, RFC 2412)
                                            li Интегрированный межсетевой экран со stateless фильтрацией IP-трафика и stateful фильтрацией для протоколов TCP и FTP

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Легкая интеграция в существующую инфраструктуру
                                    .home-faq-item__state
                                .accordion-item-panel
                                    .home-faq-item__content
                                        ul
                                            li Шифрование и имитозащита передаваемого трафика — по протоколам IPsec (RFC2401-2412), с использованием современных российских криптографических алгоритмов
                                            li Маскировка топологии защищаемого сегмента сети
                                            li Аутентификация абонентов — по протоколу IKE (RFC2407, RFC2408, RFC2409, RFC 2412)
                                            li Интегрированный межсетевой экран со stateless фильтрацией IP-трафика и stateful фильтрацией для протоколов TCP и FTP

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Высокая надежность и производительность
                                    .home-faq-item__state
                                .accordion-item-panel
                                    .home-faq-item__content
                                        ul
                                            li Шифрование и имитозащита передаваемого трафика — по протоколам IPsec (RFC2401-2412), с использованием современных российских криптографических алгоритмов
                                            li Маскировка топологии защищаемого сегмента сети
                                            li Аутентификация абонентов — по протоколу IKE (RFC2407, RFC2408, RFC2409, RFC 2412)
                                            li Интегрированный межсетевой экран со stateless фильтрацией IP-трафика и stateful фильтрацией для протоколов TCP и FTP

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Операционные системы
                                    .home-faq-item__state
                                .accordion-item-panel
                                    .home-faq-item__content
                                        ul
                                            li Шифрование и имитозащита передаваемого трафика — по протоколам IPsec (RFC2401-2412), с использованием современных российских криптографических алгоритмов
                                            li Маскировка топологии защищаемого сегмента сети
                                            li Аутентификация абонентов — по протоколу IKE (RFC2407, RFC2408, RFC2409, RFC 2412)
                                            li Интегрированный межсетевой экран со stateless фильтрацией IP-трафика и stateful фильтрацией для протоколов TCP и FTP
                    .tab-body__item( data-type="2")
                        .technology-list
                            .technology-list__item
                                .technology-list__item__title Криптографические библиотеки
                                .technology-list__item__value
                                    p С-Терра ST – встроенная
                            .technology-list__item
                                .technology-list__item__title Операционные системы
                                .technology-list__item__value
                                    p Debian GNU/Linux 9
                            .technology-list__item
                                .technology-list__item__title Информационные обмены протокола IKE
                                .technology-list__item__value
                                    p Main mode
                                    p Aggressive mode
                                    p Quick mode
                                    p Transaction Exchanges
                                    p Informational Exchanges
                                    p VKO ГОСТ Р 34.10-2001
                                    p VKO ГОСТ Р 34.10-2012, 256 бит

                            .technology-list__item
                                .technology-list__item__title
                                    p Шифрование
                                    p Аутентификация
                                    p Имитозащита
                                .technology-list__item__value
                                    p ГОСТ 28147-89
                                    p ГОСТ Р 34.10-2012
                                    p ГОСТ Р 34.11-2012
                                    p ГОСТ Р 34.12-2015
                                    p ГОСТ Р 34.13-2015


                            .technology-list__item
                                .technology-list__item__title Мониторинг доступности удаленного узла
                                .technology-list__item__value
                                    p Dead Peer Detection (DPD) протокол (draft-ietf-ipsec-dpd-04)
                            .technology-list__item
                                .technology-list__item__title Событийное протоколирование
                                .technology-list__item__value
                                    p Syslog
                            .technology-list__item
                                .technology-list__item__title Сбор статистики
                                .technology-list__item__value
                                    p SNMP v.1, v.2c
                            .technology-list__item
                                .technology-list__item__title Формат сертификатов публичных ключей
                                .technology-list__item__value
                                    p Certificate Enrollment Request (CER), упакованный в PKCS#10 base 64 или bin формат
                            .technology-list__item
                                .technology-list__item__title Способы получения сертификатов
                                .technology-list__item__value
                                    p Протоколы IKE, LDAP v.3
                                    p Импорт из файла (bin и base64, PKCS#7 bin и base64, PKCS#12 bin и base64)
                            .technology-list__item
                                .technology-list__item__title Способ получения ключевой пары
                                .technology-list__item__value
                                    ul
                                        li Генерация с помощью утилит криптопровайдера, входящих в состав продукта, с выдачей CER
                                        li Генерация внешним PKI сервисом с доставкой на сменных ключевых носителях
                                        li Генерация внешним PKI сервисом с доставкой через PKSC#12 (RSA)

                            .technology-list__item
                                .technology-list__item__title Список отозванных сертификатов
                                .technology-list__item__value
                                    p Обработка Certificate Revocation List (CRL) опциональна Поддерживается CRL v.2. Способы получения CRL:
                                    ul
                                        li Генерация с помощью утилит криптопровайдера, входящих в состав продукта, с выдачей CER
                                        li Генерация внешним PKI сервисом с доставкой на сменных ключевых носителях
                                        li Генерация внешним PKI сервисом с доставкой через PKSC#12 (RSA)

                            .technology-list__item
                                .technology-list__item__title Отказоустойчивость и балансировка нагрузки
                                .technology-list__item__value
                                    p VRRP
                                    p RRI
                                    p GRE+OSPF/BGP
                                    p MultiWAN (резервирование каналов связи)

                            .technology-list__item
                                .technology-list__item__title Работа через NAT
                                .technology-list__item__value
                                    p NAT Traversal Encapsulation (инкапсуляция IPsec в UDP) в соответствии с NAT-T по draft-ietf-ipsec-nat-t-ike-03(02) и draft-ietf-ipsec-udp-encaps-03(02)

                            .technology-list__item
                                .technology-list__item__title Протоколы динамической маршрутизации
                                .technology-list__item__value
                                    p RIPv2
                                    p OSPF
                                    p BGP
                            .technology-list__item
                                .technology-list__item__title Прочие сетевые протоколы и сервисы
                                .technology-list__item__value
                                    p DHCP (клиент и сервер)
                                    p VLAN
                                    p NAT
                                    p LACP
                                    p MTU Path Discovery
                                    p NetFlow
                                    p IPFIX


                    .tab-body__item( data-type="3")
                        .exploitation
                            .exploitation__item
                                .exploitation__item__title Управление
                                .exploitation__item__list
                                    ul
                                        li
                                            p
                                                b Централизованно удаленно
                                            p Система централизованного управления С-Терра КП
                                .exploitation__item__list
                                    ul
                                        li
                                            p
                                                b Удаленно
                                            p Протокол SSH с помощью интерфейса командной строки с подмножеством команд Cisco IOS
                                .exploitation__item__list
                                    ul
                                        li
                                            p
                                                b Локально
                                            p Интерфейс командной строки с подмножеством команд Cisco IOS
                            .exploitation__item
                                .exploitation__item__title Совместимость
                                .exploitation__item__list
                                    ul
                                        li
                                            p
                                                b Токены:
                                            p — eToken Java 72К
                                            p — JaCarta PKI, JaCarta PKI/ГОСТ
                                            p — Рутокен Lite, Рутокен ЭЦП, Рутокен ЭЦП 2.0
                                .exploitation__item__list
                                    ul
                                        li
                                            p
                                                b В части реализации протоколов IPsec/IKE и их расширений:
                                            p — с Cisco IOS v.12.4 и v.15.x.x
                                            p — с СКЗИ КриптоПро CSP 5.0
                            .exploitation__item
                                .exploitation__item__title Техническая поддержка
                                .exploitation__item__text
                                    p Комплект поставки лицензии включает 1 (один) год технической поддержки (не распространяется на обновление до новой версии). Рекомендуем приобрести услугу «Сервис технической поддержки» на последующий период эксплуатации продукта.
                                    p Комплект поставки аппаратной платформы включает 3 (три) года гарантии от производителя аппаратной платформы. <a href="#">Информация о гарантийном обслуживании АП.</a>
                .product-card-tabs__banner
                    .product-card-tabs__banner-text
                        .product-card-tabs__banner-text__title С-Терра Шлюз: совместимость аппаратных платформ
                        .product-card-tabs__banner-text__description Являясь лицензиатом ФСБ России на разработку и производство СКЗИ, компания «С-Терра СиЭсПи» проводит строгий отбор и обязательное тестирование аппаратных платформ на соответствие требованиям регуляторов, предъявляемым к СЗИ и на совместимость с ПО С-Терра Шлюз.
                        a.product-card-tabs__banner-text__link(href="#")
                            span Подробнее
                            +svg-icon('arrow', 12,7)
                    .product-card-tabs__banner__image
                        img(src="./img/product-card/banner.png")