block content
    .price-structure
        .container
            .price-structure__title Структура прайс-листа
            .price-structure-table
                .price-structure-table__col.price-structure-table__col__border
                    .price-structure-table__col__title Программные продукты
                    .price-structure-table__col__subtitle минимальный комплект для приобретения:
                    ul
                        li «Лицензия на право использования»
                .price-structure-table__col.price-structure-table__col__border
                    .price-structure-table__col__title Программно-аппаратные комплексы
                    .price-structure-table__col__subtitle минимальный комплект для приобретения:
                    ul
                        li «Аппаратный комплекс»
                        li «Лицензия на право использования», модель и исполнение которой соответствуют модели и исполнению выбранного «Аппаратного комплекса».
                    small <span style="color: #E42D24">*</span>На «Аппаратный комплекс» партнерская скидка не распространяется.

                .price-structure-table__col
                    .price-structure-table__col__title Структура артикулов шлюзов безопасности
                    a.btn.btn-primary-inverse(href="" download)
                        svg.btn-icon
                            use(href="./img/icons/icon-sprite.svg#download-arrow")
                        span Скачать
            .price-structure__text
                p На основании абз. 2 ст. 1229 ГК РФ Правообладатель по своему усмотрению разрешает или запрещает использование своих результатов интеллектуальной деятельности. Отсутствие запрета не считается его согласием (разрешением).
                p Получить подробную информацию о стоимости наших продуктов Вы можете, обратившись к нашим менеджерам по телефону <a href="#" class="phone-link">+7 499 940-90-61</a> или по почте <a href="#" class="email-link">sales@s-terra.ru</a>.
