block content
    .price-slider
        .container
            .price-slider__wrap
                .price-slider-slider.js-price-slider-1
                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс 4.2 ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать

                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс 4.3 ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать

                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс N ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать


                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс 4.2 ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать

                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс 4.3 ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)
                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать

                    .price-slider__item
                        .price-slider__item__wrap
                            .price-slider__item__title Прайс N ST
                            ul
                                li продукты со встроенной криптобиблиотекой «С-Терра ST»
                                li продукты без криптобиблиотеки
                                li техническая поддержка
                            label.checkbox
                                input(type="checkbox" name="agreement")
                                span.checkbox-box
                                .checkbox-label Я ознакомлен(а) с информацией, что прайс <a href="#">не является офертой</a>
                            a.btn.btn-primary-inverse.disabled(href="" download)

                                svg.btn-icon
                                    use(href="./img/icons/icon-sprite.svg#download-arrow")
                                svg.btn-icon.btn-icon-mobile
                                    use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                                span Скачать

                .price-slider__control.js-price-slider-control-1
                    button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                        +svg-icon('chevron-left', 7, 12)
                    button.btn.btn-primary-inverse.btn-round(data-controls="next")
                        +svg-icon('chevron-right', 7, 12)