block content
    .price-main
        .container
            .price-main__content__title Стоимость продукции S-Terra
            .price-main__wrap
                .price-main__content

                    p ООО «С-Терра СиЭсПи» придерживается политики открытого прайс-листа и размещает информацию о ценах на продукцию на своем официальном сайте. В прайс-листе указаны рекомендованные цены для Конечного пользователя.
                    p Бизнес-партнеры компании получают партнёрскую скидку в соответствии с их партнёрским статусом («Золото», «Серебро» или «Бронза»).
                    p Прайс-лист содержит только кастомизированные платформы С-Терра, сертификация программно-аппаратных комплексов, на которых ведется во ФСТЭК по новым требованиям. Для закупки криптошлюзов на аппаратных платформах иных производителей просьба обращаться к менеджерам отдела продаж по телефону: <a href="#" class="phone-link">+7 499 940-90-61</a> или по почте <a href="#" class="email-link">sales@s-terra.ru</a>.
                .price-main__notification
                    .price-main__notification__wrap
                        .price-main__notification__subtitle Объявление
                        .price-main__notification__date 24 ноября 2021 г.
                        p обновляются прайс-листы версий 4.3 и 4.2 в связи с повышением цен на некоторые артикулы.
                        p Обращаем ваше внимание, что, с учетом текущего положения на мировом рынке электроники, срок действия коммерческого предложения (КП) сокращается до 14 рабочих дней. Просьба актуализировать КП перед оплатой.
