<!-- JUMBOTRON -->

.jumbotron.partner-jumbotron
    .container
        .home-banner
            .home-banner__content
                .home-banner__text Станьте нашим партнером
                .home-banner__description Техническая стратегия и бизнес-модель «С-Терра СиЭсПи» получили одобрение Представительства Cisco Systems в России и нашей компании присвоен статус технологического партнера Cisco Systems (Cisco Solution Technology Integrator).
                button.btn.btn-accent(data-partner-modal)
                    span Стать партнером
            .home-banner__img
                img(src="./img/partner/main.png", alt="")

<!-- /JUMBOTRON -->

