block content
    .product-card-items-slider
        .product-card-items-slider__wrap
            .product-card-items-slider__title С-Терра Шлюз 4.3 в комплексных решениях для бизнеса
            .product-card-items-slider-slider.js-items-slider-1
                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита канала 10 Гбит и больше
                        .product-card-items-slider__item__description Надежная защита каналов связи с производительностью 10  Гбит/с и выше, соответствующая требованиям регуляторов ИБ...
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon1.png")

                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита подключения к ИС ЕПТ
                        .product-card-items-slider__item__description Надежная защита в Информационной Системе «Единый портал тестирования в области промышленной безопасности, безопасности гидротехнических...
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon2.png")

                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита удаленного доступа
                        .product-card-items-slider__item__description Защита доступа сотрудников к корпоративной информации и сервисам корпоративной сети из любой точки мира
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon3.png")

                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита канала 10 Гбит и больше
                        .product-card-items-slider__item__description Надежная защита каналов связи с производительностью 10  Гбит/с и выше, соответствующая требованиям регуляторов ИБ...
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon1.png")

                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита подключения к ИС ЕПТ
                        .product-card-items-slider__item__description Надежная защита в Информационной Системе «Единый портал тестирования в области промышленной безопасности, безопасности гидротехнических...
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon2.png")

                .product-card-items-slider__item
                    a.product-card-items-slider__item__wrap(href="#")
                        .product-card-items-slider__item__title Защита удаленного доступа
                        .product-card-items-slider__item__description Защита доступа сотрудников к корпоративной информации и сервисам корпоративной сети из любой точки мира
                        .product-card-items-slider__item__icon
                            img(src="./img/product-card/items/icon3.png")
            .product-card-items-slider__control.js-items-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
