.about-page__jumbotron{
  .home-banner{
    height: 450px;
    padding-top: var(--space-md);
    &__content{

      align-items: flex-start;
      justify-content: center;
      text-align: left;
    }
    &__text{
      margin-bottom: var(--space-md);
    }
    &__description{
      max-width: 630px;
    }
    &__img{
      margin-bottom: var(--space-lg);
    }
  }
  .btn-icon{
    width: 20px;
    height: 20px;
  }
  @include lg-phone-up-max(){
    .home-banner{
      height: 370px;
      padding-top: 0;
      padding-bottom: 26px;

      .home-banner__content{
        width: 100%;
      }
      &__text{
        font-size: 25px;
        margin-bottom: 14px;
      }
      &__description{
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 140%;
        letter-spacing: -0.1px;
      }
      .btn-icon{
        width: 17px;
        height: 17px;
      }
    }
  }
  @include lg-tablet-up-max(){
    .home-banner__img {
      width: 43%;
      margin-bottom: 15px;
      img {
        max-height: calc(90% - 2 * var(--space-md));

      }
    }
    .home-banner__description{
      font-size: 13px;
    }
    .home-banner__content{
      width: 57%;
    }
    .home-banner{
      height: 370px;
      padding-top: 0;
      padding-bottom: 26px;
    }
  }
}