block content

    main.industry-card-jumbotron.page-main
        .bg-block
            .jumbotron
                .container
                    .industry-card-jumbotron__wrap
                        .industry-card-jumbotron__text
                            .industry-card-jumbotron__text__icon
                                img(src="./img/industry-card/main.svg")
                            .industry-card-jumbotron__text__icon__mobile
                                img(src="./img/industry-card/main-mob.svg")
                            .industry-card-jumbotron__text__content
                                .industry-card-jumbotron__text__title Государственный сектор
                                .industry-card-jumbotron__text__description Российская компания «С-Терра СиЭсПи» предлагает высокопроизводительные, надежные и оптимальные по стоимости решения для защиты сетевого взаимодействия в системе органов законодательной, исполнительной, судебной власти и местного управления на базе собственных продуктов С-Терра VPN — сертифицированных программных и программно-аппаратных комплексов (криптошлюзов).
                                .industry-card-jumbotron__text__buttons.btn-dekstop
                                    button.btn.btn-accent.btn-lg Оставить заявку
                                    button.btn.btn-lg.btn-white Прайс-лист
                        .industry-card-jumbotron__text__buttons.btn-mobile
                            button.btn.btn-accent.btn-lg Заявка
                            button.btn.btn-lg.btn-white Прайс-лист