-
    var awards = [
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 1,
            image: './img/awards/1.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 2,
            image: './img/awards/2.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 1,
            image: './img/awards/3.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 2,
            image: './img/awards/4.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 1,
            image: './img/awards/5.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 2,
            image: './img/awards/6.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 1,
            image: './img/awards/7.png'
        },
        {
            title: 'Диплом «Инфофорум Сочи — 2021»',
            description: 'Диплом по результатам 8-го южного форума информационной безопасности «Инфофорум Сочи — 2021».',
            type: 2,
            image: './img/awards/8.png'
        }
    ]