-
  var partners = [
    {
      img: "./img/partners/1.png",
      coloredImg: "./img/partners/1-colored.png",
      alt: '',
      link: '#'
    },
    {
      img: "./img/partners/2.png",
      coloredImg: "./img/partners/2-colored.png",
      alt: '',
      link: '#'
    },
    {
      img: "./img/partners/3.png",
      coloredImg: "./img/partners/3-colored.png",
      alt: '',
      link: '#'
    },
    {
      img: "./img/partners/4.png",
      coloredImg: "./img/partners/4-colored.png",
      alt: '',
      link: '#'
    },
    {
      img: "./img/partners/5.png",
      coloredImg: "./img/partners/5-colored.png",
      alt: '',
      link: '#'
    },
  ]
