-
  var faq = [
    {
      title: 'Как подобрать решение и составить спецификацию',
      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
    },
    {
      title: 'Как получить VPN продукты в тестирование',
      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
    },
    {
      title: 'Как стать партнером',
      text: 'Мы подготовили <a href="#" download>опросный лист</a>, который поможет нашим инженерам получить представление о задаче и начать конструктивный диалог. Пришлите ответы на <a href="mailto:presale@s-terra.ru">presale@s-terra.ru</a>.Далее с вами свяжется инженер и уточнит детали. В итоге Вы получите правильную спецификацию и наши менеджеры дадут коммерческое предложение. Если Вы составили спецификацию самостоятельно, пришлите нам ее на проверку.'
    }
  ]
