-
  var pressmark = [
    {
      img: './img/pressmark/1.png',
      date: '29 ноября 2021',
      title: 'Каталог продукции'
    },
    {
      img: './img/pressmark/2.png',
      date: '16 октября 2021',
      title: '«С-Терра СОВ (система обнаружения вторжений)»'
    },
    {
      img: './img/pressmark/3.png',
      date: '16 октября 2021',
      title: '«С-Терра Юнит»'
    },
    {
      img: './img/pressmark/4.png',
      date: '16 октября 2021',
      title: '«С-Терра Шлюз DP»'
    },
    {
      img: './img/pressmark/5.png',
      date: '16 октября 2021',
      title: '«С-Терра Шлюз 10G»'
    },
    {
      img: './img/pressmark/6.png',
      date: '16 октября 2021',
      title: '«С-Терра Виртуальный Шлюз»'
    },
    {
      img: './img/pressmark/7.png',
      date: '16 октября 2021',
      title: '«Универсальный сервисный криптомаршрутизатор ESR-ST»'
    },
    {
      img: './img/pressmark/8.png',
      date: '16 октября 2021',
      title: '«Виртуальный модуль С-Терра CSCO-STVM»'
    }
  ]
