-
  var pressnewsitems = [
      {
        img: './img/pressnews/pressnews-item.png'
      },
      {
        img: './img/pressnews/pressnews-item.png'
      },
      {
        img: './img/pressnews/pressnews-item.png'
      },
      {
        img: './img/pressnews/pressnews-item.png'
      }
  ]