-
  var pressevent = [
    {
      img: './img/pressevent/1.png',
      icon: 'map',
      link: "#",
      date: '6 октября — 8 октября 2021',
      title: 'Форум «GIS Days — 2021»',
      locale: 'Санкт-Петербург и Москва'
    },
    {
      img: './img/pressevent/2.png',
      icon: 'map',
      link: "#",
      date: '6 июля — 9 июля 2021 ',
      title: '«Инфофорум Сочи — 2021»',
      locale: 'г. Сочи'
    },
    {
      img: './img/pressevent/3.png',
      icon: 'map',
      link: "#",
      date: '22 июня — 25 июня 2021',
      title: 'Научно-практическая конференция «Методы и средства технической защиты информации»',
      locale: 'г. Санкт-Петербург'
    },
    {
      img: './img/pressevent/4.png',
      icon: 'map',
      link: "#",
      date: '17 июня — 18 июня 2021',
      title: 'Конференция «IT IS Conf»',
      locale: 'г. Екатеринбург'
    },
    {
      img: './img/pressevent/5.png',
      icon: 'pc',
      link: "#",
      date: '9 июня 2021',
      title: 'Онлайн-конференция AM Live «Выбор корпоративного криптошлюза (VPN-шлюза)»',
      locale: 'Онлайн'
    },
    {
      img: './img/pressevent/6.png',
      icon: 'map',
      link: "#",
      date: '25 мая — 26 мая 2021',
      title: 'Практическая конференция «ИТ-Полигон — 2021»',
      locale: 'Ленинградская область, п. Орехово'
    },
    {
      img: './img/pressevent/7.png',
      icon: 'pc',
      link: "#",
      date: '23 апреля 2021',
      title: 'Онлайн-конференция AM Live «Безопасность удаленного доступа»',
      locale: 'Онлайн'
    },
    {
      img: './img/pressevent/8.png',
      icon: 'map',
      link: "#",
      date: '17 февраля — 19 февраля 2021',
      title: 'Форум «Кибербезопасность — наши дни. Промышленные технологии»',
      locale: 'Республика Башкортостан'
    }
  ]