-
  var pressweb = [
    {
      img: './img/pressweb/1.png',
      link: "#",
      date: '21 Мая 2021 ',
      title: 'Версия 4.3. С-Терра КП, С-Терра Клиент и С-Терра Клиент А. Функциональные возможности и нюансы эксплуатации'
    },
    {
      img: './img/pressweb/2.png',
      link: "#",
      date: '15 Апреля 2021',
      title: 'Версия 4.3. С-Терра Юнит. Функциональные возможности и нюансы эксплуатации'
    },
    {
      img: './img/pressweb/3.png',
      link: "#",
      date: '23 Марта 2021',
      title: 'Версия 4.3. С-Терра Шлюз и С-Терра Шлюз DP. Функциональные возможности и нюансы эксплуатации'
    }
  ]