-
  var pressactual = [
    {
      link: "#",
      date: '10 Ноября 2021',
      title: 'Изменение прайс-листа 24.11.2021',
      text: '24 ноября 2021 г. обновляются прайс-листы версий 4.3 и 4.2 в связи с повышением цен на некоторые артикулы.'
    },
    {
      link: "#",
      date: '29 Октября 2021',
      title: 'Новый личный кабинет начинает работать в тестовом режиме',
      text: 'На сайте компании начинается тестирование личного кабинета с расширенной функциональностью.'
    },
    {
      link: "#",
      date: '7 Октября 2021',
      title: 'Изменение прайс-листа 21.10.2021',
      text: '21 октября 2021 г. обновляется прайс-лист версии 4.3 в связи с изменением стоимости С‑Терра Юнит.'
    },
    {
      link: "#",
      date: '1 Октября 2021',
      title: 'Изменение прайс-листа 01.10.2021',
      text: '1 октября 2021 года обновляются прайс-листы версии 4.2 и 4.3. Обращаем ваше внимание на изменение артикулов для младших моделей шлюзов класса сертификации КС2 и КС3.'
    },
    {
      link: "#",
      date: '2 Февраля 2021',
      title: 'Изменение прайс-листа 16.02.2021',
      text: '16 февраля 2021 года обновляются прайс-листы на продукты С-Терра версий 4.2 и 4.3.'
    },
    {
      link: "#",
      date: '2 Сентября 2020',
      title: 'Изменение прайс-листа 02.09.2020',
      text: '2 сентября 2020 года обновлены прайс-листы на продукты С-Терра версий 4.2 и 4.3. Доступен к приобретению аппаратный комплекс для С‑Терра КП версии 4.3. Стоимость аппаратного...'
    },
    {
      link: "#",
      date: '18 Марта 2020',
      title: 'Изменение прайс-листа 24.03.2020',
      text: 'В связи с нестабильным курсом валют, с 24 марта 2020 года цены на аппаратные комплексы С-Терра устанавливаются в условных единицах. Стоимость программных комплексов…'
    },
    {
      link: "#",
      date: '16 Января 2020',
      title: 'Модули IPMI в прайс-листе от 16.01.2020',
      text: '16 января 2020 года обновлен прайс-лист на продукты С-Терра версии 4.2. В прайс-листе появились новые позиции: модули IPMI для С‑Терра Шлюз 3000 / 7000 / 10G.'
    },
    {
      link: "#",
      date: '16 Декабря 2019',
      title: 'Изменение прайс-листа 01.01.2020',
      text: '1 января 2020 года повышаются цены на лицензии для продуктов С-Терра версии 4.2 и техническую поддержку на них.'
    },
    {
      link: "#",
      date: '16 Октября 2019',
      title: 'Снижаем цены на С-Терра СОВ!',
      text: '21 октября 2019 г. начинает действовать праздничная скидка на С-Терра СОВ.'
    },
    {
      link: "#",
      date: '18 Сентября 2019',
      title: 'Действие сертификатов на версию 4.1',
      text: 'Срок действия сертификатов соответствия ФСБ России на продукты С-Терра версии 4.1 закончился 15 ноября 2019 г. Рекомендуем приобрести обновление до версии 4.2.'
    },
    {
      link: "#",
      date: '15 Мая 2019',
      title: 'Изменение прайс-листа 01.06.2019',
      text: 'С 1 июня 2019 года цены на аппаратные комплексы С-Терра изменены и установлены в рублях.'
    }
  ]