-
  var presspublic = [
    {
      link: "#",
      date: '2 ноября 2021',
      title: '«С-Терра СиЭсПи»: Сделано в России. Шифрование для ЦОД и не только',
      auth: 'М. Иванов',
      locale: 'BIS Journal, №4'
    },
    {
      link: "#",
      date: 'апрель 2021',
      title: '«Импортозамещение — это не технологическая изоляция»',
      auth: 'М. Иванов',
      locale: 'Национальный банковский журнал, №4'
    },
    {
      link: "#",
      date: 'апрель 2021',
      title: 'Trusted Cryptographic Tools Locking',
      auth: 'В. Цыпышев',
      locale: 'Advances in Intelligent Systems and Computing, vol 765. Springer, Cham'
    }
  ]