-
  var pressnews = [
    {
      img: './img/pressnews/1.png',
      link: "#",
      date: '3 Декабря 2021',
      title: 'Получены сертификаты ФСТЭК на С-Терра VPN версии 4.3',
      text: 'Продукты С-Терра версии 4.3 сертифицированы ФСТЭК России как межсетевой экран и по уровню доверия.'
    },
    {
      img: './img/pressnews/2.png',
      link: "#",
      date: '24 Ноября 2021',
      title: 'Новый адрес компании «С-Терра СиЭсПи»',
      text: 'Компания «С-Терра СиЭсПи» переехала в новый офис на территории ОЭЗ «Технополис Москва», площадка «Алабушево».'
    },
    {
      img: './img/pressnews/3.png',
      link: "#",
      date: '1 Октября 2021',
      title: 'Программный МДЗ в С-Терра Шлюз',
      text: 'С-Терра Шлюз 100/1000/2000 версии 4.3 оснащены программными модулями доверенной загрузки (МДЗ) вместо аппаратных.'
    },
    {
      img: './img/pressnews/4.png',
      link: "#",
      date: '1 Октября 2021',
      title: 'Сертификат ФСБ по классу КС3 на С-Терра Клиент А',
      text: 'Программный клиент для Astra Linux сертифицирован ФСБ России в качестве СКЗИ по классу КС3'
    },
    {
      img: './img/pressnews/5.png',
      link: "#",
      date: '5 Июля 2021',
      title: 'Защищаем КИИ решениями С-Терра',
      text: 'Решения С-Терра помогают защищать объекты критической информационной инфраструктуры.'
    },
    {
      img: './img/pressnews/6.png',
      link: "#",
      date: '28 Июня 2021',
      title: 'Новая линейка С-Терра VPN на «Инфофорум Сочи — 2021»',
      text: 'Компания «С-Терра СиЭсПи» станет Партнером «Инфофорум Сочи — 2021», который пройдет с 6 по 9 июля.'
    },
    {
      img: './img/pressnews/7.png',
      link: "#",
      date: '7 Июня 2021',
      title: 'С-Терра участвует в дискуссии AMLive',
      text: '9 июня 2021 г. специалист «С‑Терра СиЭсПи» примет участие в онлайн-конференции «Выбор корпоративного криптошлюза».'
    },
    {
      img: './img/pressnews/8.png',
      link: "#",
      date: '21 Мая 2021',
      title: 'Итоги вебинара про С-Терра КП и С-Терра Клиент',
      text: '20 мая 2021 г. «С‑Терра СиЭсПи» провела вебинар «Версия 4.3. С‑Терра КП и С‑Терра Клиент». Презентация и запись вебинара размещены на сайте.'
    },
    {
      img: './img/pressnews/9.png',
      link: "#",
      date: '12 Апреля 2021 ',
      title: 'Продлены сертификаты ФСБ России на С-Терра Клиент версии 4.2',
      text: 'Сертификаты ФСБ России на С‑Терра Клиент версии 4.2 по классам КС1 и КС2 продлены до 15.11.2022.'
    },
    {
      img: './img/pressnews/10.png',
      link: "#",
      date: '6 Апреля 2021',
      title: 'Центр компетенций по сетевой безопасности',
      text: 'В Санкт-Петербурге создается центр компетенций по сетевой безопасности на базе НИИ «Масштаб» и «С-Терра СиЭсПи» при поддержке концерна... '
    },
    {
      img: './img/pressnews/11.png',
      link: "#",
      date: '30 Марта 2021',
      title: 'Решения С-Терра для подключения к Единому порталу тестирования Ростехнадзора',
      text: 'Решения С-Терра защищают доступ при аттестации работников в области промышленной безопасности.'
    },
    {
      img: './img/pressnews/12.png',
      link: "#",
      date: '3 Декабря 2021',
      title: '«С-Терра СиЭсПи» и «Аквариус» заключили договор о сотрудничестве',
      text: '«С-Терра СиЭсПи» и «Аквариус» начинают производство VPN-шлюзов с ГОСТ-криптографией на российских аппаратных платформах.'
    },
  ]