-
    var teamusers = [
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
        {
            name: 'Михаил Николаевич Иванов',
            position: 'Генеральный  директор',
            image: './img/about/about-user-1.png'
        },
        {
            name: 'Христофор Викторович Газаров',
            position: 'Заместитель генерального директора по науке и специальным исследованиям',
            image: './img/about/about-user-placeholder.png'
        },
    ]