-
    var vacancies = [
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-2'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-2'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        },
        {
            title: 'Инженер по тестированию ПО',
            subtitle: 'Зеленоград',
            type: 1,
            icon: 'vacant-1'
        }
    ]