extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content

    .page

        include components/header/index.pug
        .catalog-compl-page
            main.page-main

                .bg-block
                    .catalog-compl-page__jumbotron
                        include pages/catalog-compl/jumbotron/index.pug

            +breadcrumb(['Главная '], ' / Каталог — Комплексные решения')

            include pages/catalog-compl/catalog/catalog
            include pages/catalog-compl/sertificates/index
            include pages/catalog-compl/description/index
            include pages/catalog-compl/sertificates/sert2
            include pages/catalog-compl/form/index

        include components/footer/index.pug