extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content
    .page
        include components/header/index.pug
        .partner-page.page-main
            include pages/partner/jumbotron/index
            +breadcrumb(['Главная '], ' / Партнеры')

            include pages/partner/superior/index
            include pages/partner/ourpartners/index
            include pages/partner/slider/index

        include components/footer/index.pug