extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content
    .page
        include components/header/index.pug
        .price-page.page-main
            +breadcrumb(['Главная ', ' / Каталог'], ' / Прайс-листы')
            include pages/price/price-main
            include pages/price/price-slider
            include pages/price/price-structure



        include components/footer/index.pug