extends helpers/layout.pug
include components/breadcrumbs/index.pug

block content
    .page
        include components/header/index.pug
        .support-faq-page.page-main
            +breadcrumb(['Главная ',' / Поддержка'], ' / Часто задаваемые вопросы (F.A.Q)')
            .container
                .support-faq-page__title Часто задаваемые вопросы (F.A.Q)
                .support-faq-page__wrap.home-faq
                    .home-faq__accordion


                        div.accordion#home-faq
                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Какие параметры и критерии следует учитывать при выборе VPN продукта?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Какова производительность шлюза безопасности С-Терра Шлюз?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Где я могу ознакомиться с правилами эксплуатации продуктов С-Терра?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Какова методика измерения производительности Шлюзов С-Терра?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Обязательно ли использовать с продуктами С-Терра стороннее сетевое (отечественное или импортное) оборудование?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Нужно ли дополнительно применять средства защиты, например, АПМДЗ Соболь или Аккорд, чтобы использовать продукты С-Терра?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Нужно ли дополнительно покупать УЦ КриптоПро, чтобы использовать его с продуктами С‑Терра VPN?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Нужно ли дополнительно покупать УЦ КриптоПро, чтобы использовать его с продуктами С‑Терра VPN?
                                    .home-faq-item__state

                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Должен ли заказчик осуществлять процедуры по исследованию влияния окружающей программной среды на СКЗИ, чтобы использовать решения С-Терра?
                                    .home-faq-item__state
                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                            section.home-faq-item.accordion-item
                                header.home-faq-item__header.accordion-item-header.accordion-trigger
                                    h2.home-faq-item__title Должен ли заказчик проводить исследования ПО BIOS СВТ, чтобы использовать поставляемые компанией ПАК «С-Терра Шлюз»?
                                    .home-faq-item__state
                                .accordion-item-panel
                                    p Отчасти — да. Антивирусное ПО необходимо применять при использовании любого СКЗИ, что является общим требованием, записанным в эксплуатационную документацию
                                    p Но в отличие от многих других СКЗИ при использовании С-Терра VPN не обязательно устанавливать антивирусное ПО на каждое рабочее место, а достаточно организовать централизованную антивирусную защиту, как это описано в документации “ПАК «С-Терра VPN». Правила пользования” (как для <a href="#">СКЗИ с КриптоПро CSP</a>, так и для <a href="#">СКЗИ с криптографией ST</a>), п. 4.6.:

                                    .block
                                        p «… Для антивирусной защиты пользователей защищаемой сети средства антивирусной защиты должны устанавливаться либо непосредственно на ПЭВМ пользователя сети, либо на сервер централизованной антивирусной защиты, либо на ПАК с установленным СКЗИ (при наличии совместимого средства антивирусной защиты).
                                        p При наличии канала обмена информацией между ПЭВМ пользователя СКЗИ и незащищёнными автоматизированными системами, средства антивирусной защиты должны устанавливаться непосредственно на ПЭВМ пользователя СКЗИ, или на выделенный носитель ПЭВМ пользователя СКЗИ или предустанавливаться на СЗН (например, для бездисковой рабочей станции). При отсутствии такого канала обмена информацией, достаточно использование средств антивирусной защиты, устанавливаемых на сервер централизованной антивирусной защиты. …»

                    .support-faq__controll
                        .support-faq__controll__wrap(data-action="./backend/support-faq.json" data-method="GET" data-max-length="13")
                            .support-faq__controll__text.js-control-text Показано 10 из 13
                            button.support-faq__controll__btn.js-control-more.btn.btn-primary-inverse Еще 3
                        button.btn-primary.btn(data-ask-question) Задать вопрос
        include components/footer/index.pug