include  ../../data/presspublic

block content
    .container
        .presspublic-page__content(data-full-length="1021" data-page-size="12" data-action="./backend/presspublic.json" data-method="GET")
            .presspublic-page__content__top
                .presspublic-page__title Пресс-центр
                ul.presspublic-page__filter
                    li.js-control-item.presspublic-page__filter__item
                        button.js-control-item-button.presspublic-page__filter__button(type="button" data-type="1") Новости
                    li.js-control-item.presspublic-page__filter__item
                        button.js-control-item-button.presspublic-page__filter__button(type="button" data-type="2") Объявления
                    li.js-control-item.presspublic-page__filter__item
                        button.js-control-item-button.presspublic-page__filter__button(type="button" data-type="3") Мероприятия
                    li.js-control-item.presspublic-page__filter__item
                        button.js-control-item-button.presspublic-page__filter__button(type="button" data-type="4") Вебинары
                    li.js-control-item.presspublic-page__filter__item
                        button.js-control-item-button.presspublic-page__filter__button.active(type="button" data-type="5") Публикации

            .presspublic-page__content__button.row.justify-content-between
                .presspublic-page__select.col.col-12.col-sm-4.col-md-3
                    .presspublic-page__selected 
                        .presspublic-page__active 2022
                        .controlls
                            button.btn-primary-inverse.close
                                +svg-icon('times', 10, 10)
                            button.btn-primary-inverse
                                +svg-icon('chevron-right', 10, 10)
                    ul.presspublic-page__selects 
                        li.js-control-item.presspublic-page__select__item
                            button.js-control-item.presspublic-page__select_button(type="button" data-type="1") 2022
                        li.js-control-item.presspublic-page__select__item
                            button.js-control-item.presspublic-page__select_button(type="button" data-type="1") 2021
                        li.js-control-item.presspublic-page__select__item
                            button.js-control-item.presspublic-page__select_button(type="button" data-type="1") 2020
                        li.js-control-item.presspublic-page__select__item
                            button.js-control-item.presspublic-page__select_button(type="button" data-type="1") 2019

                .presspublic-page__search.col.col-12.col-sm-7.col-md-8
                        .search-field.js-input-search-field
                            .search-field__icon
                                +svg-icon('search', 14, 14)
                            input.js-input-search.form-control(value="" placeholder='Поиск' name="q" data-field autocomplete="off")
                            button.js-input-search-clear.icon-btn.search-field__reset(type='button' data-reset)
                                +svg-icon('times', 10, 10)

                        ul.search-list(data-list hidden)

            .presspublic-page__body.row
                each item in presspublic
                    .col.col-12.col-sm-6.col-md-4
                        a.presspublic-page__item(href="#")
                            .presspublic-page__item__date= item.date
                            .presspublic-page__item__title= item.title
                            .presspublic-page__item__auth 
                                +svg-icon('auth', 15, 15)
                                .presspublic-page__item__text= item.auth
                            .presspublic-page__item__locale
                                +svg-icon('locale', 17, 13)
                                .presspublic-page__item__text= item.locale

            .presspublic-page__controll
                .presspublic-page__controll__text.js-control-text Показано 12 из 1021
                button.js-control-more.presspublic-page__controll__btn.btn.btn-primary-inverse Еще 12

            .presspublic-page__contacts
                .presspublic-page__contacts__title Контакты отдела PR и рекламы
                a.presspublic-page__contacts__phone-link(href="tel:+7 (499) 940-90-01") +7 (499) 940-90-01
                a.presspublic-page__contacts__email-link(href="mailto:information@s-terra.ru") information@s-terra.ru

                