include  ../../data/pressactual

block content
    .container
        .pressactual-page__content(data-full-length="1021" data-page-size="12" data-action="./backend/pressactual.json" data-method="GET")
            .pressactual-page__content__top
                .pressactual-page__title Пресс-центр
                ul.pressactual-page__filter
                    li.js-control-item.pressactual-page__filter__item
                        button.js-control-item-button.pressactual-page__filter__button(type="button" data-type="1") Новости
                    li.js-control-item.pressactual-page__filter__item
                        button.js-control-item-button.pressactual-page__filter__button.active(type="button" data-type="2") Объявления
                    li.js-control-item.pressactual-page__filter__item
                        button.js-control-item-button.pressactual-page__filter__button(type="button" data-type="3") Мероприятия
                    li.js-control-item.pressactual-page__filter__item
                        button.js-control-item-button.pressactual-page__filter__button(type="button" data-type="4") Вебинары
                    li.js-control-item.pressactual-page__filter__item
                        button.js-control-item-button.pressactual-page__filter__button(type="button" data-type="5") Публикации

            .pressactual-page__content__button.row.justify-content-between
                .pressactual-page__select.col.col-12.col-sm-4.col-md-3
                    .pressactual-page__selected 
                        .pressactual-page__active За все время
                        .controlls
                            button.btn-primary-inverse.close
                                +svg-icon('times', 10, 10)
                            button.btn-primary-inverse
                                +svg-icon('chevron-right', 10, 10)
                    ul.pressactual-page__selects 
                        li.js-control-item.pressactual-page__select__item
                            button.js-control-item.pressactual-page__select_button(type="button" data-type="1") За все время
                        li.js-control-item.pressactual-page__select__item
                            button.js-control-item.pressactual-page__select_button(type="button" data-type="1") За все время 2
                        li.js-control-item.pressactual-page__select__item
                            button.js-control-item.pressactual-page__select_button(type="button" data-type="1") За все время 3
                        li.js-control-item.pressactual-page__select__item
                            button.js-control-item.pressactual-page__select_button(type="button" data-type="1") За все время 4
 
                .pressactual-page__search.col.col-12.col-sm-7.col-md-8
                        .search-field.js-input-search-field
                            .search-field__icon
                                +svg-icon('search', 14, 14)
                            input.js-input-search.form-control(value="" placeholder='Поиск' name="q" data-field autocomplete="off")
                            button.js-input-search-clear.icon-btn.search-field__reset(type='button' data-reset)
                                +svg-icon('times', 10, 10)

                        ul.search-list(data-list hidden)

            .pressactual-page__body.row
                each item in pressactual
                    .col.col-12.col-sm-6.col-md-3
                        a.pressactual-page__item(href="#")
                            .pressactual-page__item__date= item.date
                            .pressactual-page__item__title= item.title
                            .pressactual-page__item__text= item.text
            
            .pressactual-page__controll
                .pressactual-page__controll__text.js-control-text Показано 12 из 1021
                button.js-control-more.pressactual-page__controll__btn.btn.btn-primary-inverse Еще 12

            .pressactual-page__contacts
                .pressactual-page__contacts__title Контакты отдела продаж
                a.pressactual-page__contacts__phone-link(href="tel:+7 (499) 940-90-01") +7 (499) 940-90-01
                a.pressactual-page__contacts__email-link(href="mailto:information@s-terra.ru") information@s-terra.ru

                