<!-- JUMBOTRON -->

.jumbotron
    .container
        .vacancies-banner
            .vacancies-banner__content
                .vacancies-banner__text Работа у нас
                .vacancies-banner__description
                    p Компания С-Терра строит бизнес, в первую очередь, вокруг людей. При найме новых сотрудников мы отдаем предпочтение не столько опытным, сколько способным кандидатам.
                    p Мы поддерживаем атмосферу открытости  и доброжелательности. У нас каждый сотрудник может свободно высказывать свои мысли и предложения, участвуя в развитии общего дела.
                a.vacancies-banner__phone-link(href="tel:+7 (499) 940-90-61") +7 (499) 940-90-61
                a.vacancies-banner__email-link(href="mailto:hiring@s-terra.ru") hiring@s-terra.ru
            .vacancies-banner__img
                img(src="./img/about/about-work-with-us.png", alt="")

<!-- /JUMBOTRON -->

