block content

    .contacts-main
        .container
            .contacts-main-title Контакты
            .contacts-main-grid
                .contacts-main-grid__col
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Приобретение продукции
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–01
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") sales@s-terra.ru
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Технический консалтинг
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–01, доб. 630
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") presale@s-terra.ru
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Техническая поддержка
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–71
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") support@s-terra.ru
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-inet', 15, 14)
                            .value
                                a(href="#") www.support.s-terra.com
                    .tablet.contacts-main-grid__item
                        .contacts-main-grid__item__title Общие вопросы
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-fax', 15, 17)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") information@s-terra.ru
                .contacts-main-grid__col
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Ремонт оборудования
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–01
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") sales@s-terra.ru
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-address', 15, 18)
                            .value 124460  г. Зеленоград, ул. Конструктора Лукина, д. 14, стр. 12, Технополис Москва
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-user', 15, 16)
                            .value Контактное лицо <br> для отправлений: <br> <b>Грекова Неля</b>
                    .tablet.contacts-main-grid__item
                        .contacts-main-grid__item__title PR отдел
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-fax', 15, 17)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") information@s-terra.ru
                .contacts-main-grid__col
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Общие вопросы
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-fax', 15, 17)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") information@s-terra.ru
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title PR отдел
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-phone', 15, 12)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-fax', 15, 17)
                            .value
                                a.phone(href="#") +7 (499) 940–90–61
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-mail', 15, 12)
                            .value
                                a(href="#") information@s-terra.ru
                .contacts-main-grid__col
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Фактический адрес
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-address', 15, 17)
                            .value
                                p 124460  г. Зеленоград, ул. Конструктора Лукина, д. 14, стр. 12, Технополис Москва
                                p Координаты для навигатора: <b>55.983863, 37.212843</b>
                    .contacts-main-grid__item
                        .contacts-main-grid__item__title Юридический/почтовый адрес
                        .contacts-main-grid__item__block
                            .icon
                                +svg-icon('contacts-address', 15, 17)
                            .value
                                p 124 460, г. Москва, вн. тер.  г. муниципальный округ Силино, г. Зеленоград, ул. Конструктора Лукина, д. 14, стр. 12, этаж 2, ком. 8.
                    button.btn.btn-primary-inverse.desktop.contacts-main-btn
                        svg.btn-icon
                            use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                        span Реквизиты компании
            .tablet.mobile
                button.btn.btn-primary-inverse.contacts-main-btn
                    svg.btn-icon
                        use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                    span Реквизиты компании
            .contacts-main-map
                #map
            .contacts-main-banner
                .contacts-main-banner__wrap
                    .contacts-main-banner__text
                        .contacts-main-banner__title Станьте нашим партнером
                        .contacts-main-banner__description Техническая стратегия и бизнес-модель «С-Терра СиЭсПи» получили одобрение Представительства Cisco Systems в России и нашей компании присвоен статус технологического партнера Cisco Systems (Cisco Solution Technology Integrator). Заполните форму и станьте нашим партнёром
                        button.btn.btn-accent(data-partner-modal) Стать партнером
                    .contacts-main-banner__image
                        img(src="./img/contacts/contacts.png")


