include ./history-item

block content

    .about-history
        .about-history__wrap
            .about-history__title История
            .about-history-slider
                +history-item()
                +history-item()
                +history-item()
                +history-item()
