.late
{
font-size:24px;
color:#383838;
padding-top:15px;
padding-bottom:10px;
border-bottom:#f7941d 1px solid;
}

.late_y
{
clear:both;
font-size:24px;
color:#383838;
padding-top:25px;
padding-bottom:10px;
border-bottom:#f7941d 1px solid;
margin-top:30px;
}

.late_t
{
margin-top:40px;
}

.img_p
{
float:left;
width:200px;
}

.img_p img
{
margin-left:10px;
}

.f_name
{
font-size:16px;
font-weight:bold;
color:#58585a;
margin-top:25px;
}

.f_dolg
{
font-size:14px;
color:#58585a;
margin-top:5px;
}

.first_text
{
border:#cbcbcb 1px solid;
float:right;
width:470px;
padding:20px;
color:#58585a;
font-size:14px;
}

.first_text img
{
float:left;
margin-left:-35px;
}

.all_left
{
float:left;
width:370px;
margin-top:40px;
}

.all_right
{
float:right;
width:370px;
margin-top:40px;
}

.all_text
{
border:#cbcbcb 1px solid;
padding:20px;
color:#58585a;
font-size:14px;
}

.ar_img
{
float:left;
margin-top:-1px;
margin-left:20px;
}

.all_img
{
float:left;
width:150px;
margin-top:28px;
}

.n_d
{
float:right;
width:210px;
}

.vl_name
{
font-size:20px;
font-weight:bold;
color:#000;
}

.late_video iframe
{
width:750px;
height:500px;
margin-top:15px;
}

.all_video iframe
{
width:370px;
height:270px;
}

.all_name
{
font-weight:bold;
color:#000;
margin-top:10px;
}