

block content

    .partner-history
        .container
            .partner-history-title Истории сотрудничества
            .partner-history-slider.js-partner-slider-1
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/1.png")
                        .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                        .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/2.png")
                        .partner-history-slider__item__title «Аквариус»
                        .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/3.png")
                        .partner-history-slider__item__title «АТБ Электроника»
                        .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/1.png")
                        .partner-history-slider__item__title «Ростелеком-Солар», компания группы ПАО «Ростелеком»
                        .partner-history-slider__item__description Компании планируют создавать на базе собственных продуктов и услуг новые совместные комплексные решения по информационной безопасности, отвечающие на самые актуальные вызовы в сфере защиты от киберугроз.
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/2.png")
                        .partner-history-slider__item__title «Аквариус»
                        .partner-history-slider__item__description Цель сотрудничества — импортозамещение в сфере информационной безопасности. Серверные системы Aquarius состоят в Едином реестре российской радиоэлектронной продукции Минпро...
                .partner-history-slider__item
                    a.partner-history-slider__item__wrap(href="#")
                        .partner-history-slider__item__image
                            img(src="./img/partner/3.png")
                        .partner-history-slider__item__title «АТБ Электроника»
                        .partner-history-slider__item__description Созданный альянс способствует развитию импортозамещения на российском рынке информационной безопасности. Сертифицированные ФСБ России VPN-шлюзы С-Терра, состоящие в Едином реестре российских програм...

            .partner-history-slider__control.js-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse(href="#") Все кейсы