block content


    .container
        .awards-item-page__title Благодарственное письмо от АО «Смарт Инжиниринг»

        .awards-item-page__content.row
            .awards-item-page__images-block.col.col-12.col-sm-6.col-md-4
                .awards-item-page__images-slider__top.my-gallery
                        figure
                            a(href="./img/awards/solo.png")
                                img(src="./img/awards/solo.png" alt="")
            .awards-item-page__text-block.col.col-12.col-sm-6.col-md-8
                .awards-item-page__text-block__content
                    p АО «Смарт Инжиниринг» выражает свою признательность компании «С-Терра СиЭсПи» за высокопрофессиональное и эффективное сотрудничество по проекту развертывания криптосредств в интересах ГК ПАО «Газпром нефть».
                    p А также выражает особую благодарность Колядиной Е.М. за ее высококвалифицированные действия, направленные на обеспечение полной удовлетворенности заказчика в условиях неопределенности как с документальным обеспечением проекта, так и с требованиями заказчика.
                .awards-item-page__text-block__btn-group
                    a.btn.btn-primary-inverse.btn-round(href="#")
                        +svg-icon('chevron-left', 7, 12)
                    a.btn.btn-primary-inverse.btn-round(href="#")
                        +svg-icon('chevron-right', 7, 12)
                    a.btn.btn-primary-inverse(href="#") К списку благодарностей

