<!-- TECH BANNERS -->

include ../../../mixins/icon.pug

.home-tech
  .container
    .home-tech__wrapper
      a.home-tech-item.card.card--dark(href="#")
        h2.color-white.home-tech-item__title Международные технические стандарты IPsec
        .home-tech-item__icon
          img(src="./img/icons/ipsec.png" width="239")
        .home-tech-item__link
          span.link.color-white
            |Подробнее
            +svg-icon('chevron-right', 7, 12)


      a.home-tech-item.card.card--dark(href="#")
        h2.color-white.home-tech-item__title Сертификация в органах ФСБ и ФСТЭК России
        .home-tech-item__icon
          img(src="./img/icons/certification.png" width="216")
        .home-tech-item__link
          span.link.color-white
            |Подробнее
            +svg-icon('chevron-right', 7, 12)

<!-- /TECH BANNERS -->
