.support-education-page__course{
  &-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  &__item{
    border: 1px solid #DEDEF4;
    display: flex;
    align-items: flex-start;
    padding: 28px 25px 30px 25px;
    min-height: 305px;
    transition: box-shadow 400ms ease-in-out;
    text-decoration: none;
    &:hover{
      box-shadow: 0 5px 15px var(--shadow);
    }
    &-image{
      border: 1px solid #DEDEF4;
      margin-right: 25px;
      width: 140px;
      min-width: 140px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      &__placeholder{
        border: unset;
        padding: 0;
      }
      img{
      }
    }
    &-text{
      display: flex;
      flex-direction: column;
      &__title{
        font-size: 18px;
        line-height: 120%;
        color: #000066;
        margin-bottom: 13px;
      }
      &__block{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        &__title{
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #7373BA;
          margin-bottom: 4px;
        }
        &__value{
          font-weight: normal;
          font-size: 15px;
          line-height: 120%;
          color: #000000;
        }
      }
      &__description{
        font-weight: normal;
        font-size: 15px;
        line-height: 120%;
        color: #000000;
      }
    }
  }
}


@media (max-width: 1020px){
  .support-education-page__course{
    &-content{
      grid-template-columns: 1fr;
    }
    &__item{
      padding: 26px 22px 29px 25px;
      min-height: 250px;
      &:hover{
      }
      &-image{
        &__placeholder{
        }
        img{
        }
      }
      &-text{
        &__title{
          font-size: 15px;
          line-height: 120%;
          margin-bottom: 16px;
        }
        &__block{
          margin-bottom: 19px;
          &__title{
            font-size: 11px;
            line-height: 150%;
          }
          &__value{
            font-size: 13px;
            line-height: 120%;
          }
        }
        &__description{
          font-size: 13px;
          line-height: 120%;
          hyphens: auto;

          word-break: break-word;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
@media (max-width: 767px){
  .support-education-page__course{
    &-content{
      grid-template-columns: 1fr;
    }
    &__item{
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 33px;
      &:hover{
      }
      &-image{
        margin-right: 0;
        margin-bottom: 24px;
        &__placeholder{
        }
        img{
        }
      }
      &-text{
        &__title{
          hyphens: auto;

          word-break: break-word;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        &__block{
          &__title{
          }
          &__value{
          }
        }
        &__description{
          -webkit-line-clamp: 3;
        }
      }
    }
  }
}