include ../../data/navigation.pug
include _mixins.pug
include ../../mixins/icon.pug


nav.header-navigation
  ul
    li(data-submenu="about")
      a(href="javascript:void(0)" )
        |О компании
        +svg-icon('chevron-bottom', 8, 5)
      .header-navigation-pane(data-pane="about" hidden)
        .header-navigation-pane__block
          .container
            .row.header-section
              .col.col-auto
                .header-section__info
                  a.header-section__name(href="#") О компании
                  .header-section__description Разрабатываем и производим средства сетевой информационной безопасности на основе технологии IPsec
              .col.col-auto
                .header-section__list
                  ul
                    each item in about.items
                      +list-item(item)

    li.active(data-submenu="catalog")
      a(href="javascript:void(0)")
        |Каталог
        +svg-icon('chevron-bottom', 8, 5)
      .header-navigation-pane(data-pane="catalog" hidden)
        .header-navigation-pane__block
          .container
            .row.header-section
              .col.col-auto
                .header-section__info
                  a.header-section__name(href="#") Каталог
                  .header-section__description Поможем защитить информационную систему любого масштаба
              .col.col-auto
                .header-section__list
                  ul.products
                    +list-item(catalog.items[0], 2)
              .col.col-auto
                .header-section__list
                  ul
                    each item in [catalog.items[1], catalog.items[2], catalog.items[3]]
                      +list-item(item, 1)

    li(data-submenu="support")
      a(href="javascript:void(0)")
        |Поддержка
        +svg-icon('chevron-bottom', 8, 5)
      .header-navigation-pane(data-pane="support" hidden)
        .header-navigation-pane__block
          .container
            .row.header-section
              .col.col-auto
                .header-section__info
                  a.header-section__name(href="#") Поддержка
                  .header-section__description Квалифицированные консультации и помощь в решении технических проблем
              .col.col-auto
                .header-section__list
                  ul
                    each item in [support.items[0], support.items[1], support.items[2]]
                      +list-item(item)
              .col.col-auto
                .header-section__list
                  ul
                    +list-item(support.items[3])

              .col.col-auto
                .header-section__list
                  ul
                    +list-item(support.items[4])



    li(data-submenu="press")
      a(href="javascript:void(0)")
        |Пресс-центр
        +svg-icon('chevron-bottom', 8, 5)
      .header-navigation-pane(data-pane="press" hidden)
        .header-navigation-pane__block
          .container
            .row.header-section
              .col.col-3
                .header-section__info
                  a.header-section__name(href="#") Пресс-центр
                  .header-section__description Будьте первыми в курсе новостей и обновлений нашей компании
              .col.col-auto
                .header-section__list
                  ul
                    each item in press.items.slice(0, 3)
                      +list-item(item)
              .col.col-auto
                .header-section__list
                  ul
                    each item in press.items.slice(3)
                      +list-item(item)

    li
      a(href="#")
        |Партнеры

    li
      a(href="#")
        |Контакты
