include ../../mixins/icon.pug

.header-contacts
  .header-contacts__view
    a.header-contacts__phone(href="tel:84999409061") +7 (499) 940-90-61
    button.header-contacts__trigger(type="button")
      |Написать нам
      +svg-icon('chevron-bottom', 12, 7)


  .header-contacts__pane(hidden)
    .header-contacts__wrapper
      include components/contacts.pug
