mixin slider-controls(link)
  include icon.pug
  .scroll-slider-controls
    button.scroll-slider-control.scroll-slider-prev.btn.btn-round.btn-primary-inverse(type="button")
      +svg-icon('chevron-left', 7, 12)
    button.scroll-slider-control.scroll-slider-next.btn.btn-round.btn-primary-inverse(type="button")
      +svg-icon('chevron-right', 7, 12)
    if (link)
      a.btn.btn-primary-inverse.scroll-slider-link(href=link.link)= link.name
