block content
    .catalog-compl-sertificates
        .catalog-compl-sertificates__wrap
            .catalog-compl-sertificates__title Наши сертификаты
            .catalog-compl-sertificates-slider.js-sert-slider-1
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title №СФ/114-3784
                            .catalog-compl-sertificates__item__description
                                ul
                                    li На <b>С-Терра Юнит 4.3</b>
                                    li От 13.12.2019
                                    li Криптография: ST
                                    li Действителен до 13.12.2022
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title №СФ/114-3785
                            .catalog-compl-sertificates__item__description
                                ul
                                    li На <b>С-Терра Юнит 4.3</b>
                                    li От 13.12.2019
                                    li Криптография: ST
                                    li Действителен до 13.12.2022
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title №СФ/114-3815
                            .catalog-compl-sertificates__item__description
                                ul
                                    li На <b>С-Терра Шлюз 4.3</b>
                                    li От 28.02.2020
                                    li Криптография: ST
                                    li Действителен до 28.02.2023
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title №СФ/114-3784
                            .catalog-compl-sertificates__item__description
                                ul
                                    li На <b>С-Терра Юнит 4.3</b>
                                    li От 13.12.2019
                                    li Криптография: ST
                                    li Действителен до 13.12.2022
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title №СФ/114-3784
                            .catalog-compl-sertificates__item__description
                                ul
                                    li На <b>С-Терра Юнит 4.3</b>
                                    li От 13.12.2019
                                    li Криптография: ST
                                    li Действителен до 13.12.2022
            .catalog-compl-sertificates-slider__control.js-slider-control-1
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse(href="#") Все сертификаты