<!-- JUMBOTRON -->

.jumbotron
    .container
        .home-banner
            .home-banner__content
                .home-banner__text Поддержка
                .home-banner__description
                    p Служба технической поддержки нашей компании готова предоставить пользователям квалифицированные консультации и помощь в решении проблем, возникающих при настройке и эксплуатации оборудования нашей компании
                .home-banner-buttons
                    a.btn.btn-accent(href="" download)
                        svg.btn-icon.desktop
                            use(href="./img/icons/icon-sprite.svg#user")
                        svg.btn-icon.mobile(style="fill: #7470E0;")
                            use(href="./img/icons/icon-sprite.svg#user-mobile")
                        span Войти в личный кабинет
                    a.btn.btn-white(data-course-modal)
                        span.desktop Написать в техподдержку
                        span.mobile Написать в поддержку
            .home-banner__img
                img(src="./img/support-main/main.png", alt="")

<!-- /JUMBOTRON -->

