block content
    .catalog-compl-sertificates.catalog-compl-sertificates-2
        .catalog-compl-sertificates__wrap
            .catalog-compl-sertificates__title Свидетельства на программы для ЭВМ и базы данных
            .catalog-compl-sertificates-slider.js-sert-slider-2
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert-2.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title № 2021611361
                            .catalog-compl-sertificates__item__subtitle программы для ЭВМ
                            .catalog-compl-sertificates__item__description
                                ul
                                    li <b>С-Терра Клиент А ST</b>
                                    li От 26.01.2021
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert-2.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title № 2020610095
                            .catalog-compl-sertificates__item__subtitle программы для ЭВМ
                            .catalog-compl-sertificates__item__description
                                ul
                                    li <b>С-Терра Юнит</b>
                                    li От 09.01.2020
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert-2.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title № 2019621845
                            .catalog-compl-sertificates__item__subtitle база данных
                            .catalog-compl-sertificates__item__description
                                ul
                                    li <b>С-Терра БРП</b>
                                    li От 23.10.2019
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert-2.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title № 2021611361
                            .catalog-compl-sertificates__item__subtitle программы для ЭВМ
                            .catalog-compl-sertificates__item__description
                                ul
                                    li <b>С-Терра Клиент А ST</b>
                                    li От 26.01.2021
                .catalog-compl-sertificates__item
                    a.catalog-compl-sertificates__item__wrap(href="#")
                        .catalog-compl-sertificates__item-image
                            img(src="./img/catalog/compl/sert-2.png")
                        .catalog-compl-sertificates__item-content
                            .catalog-compl-sertificates__item__title № 2021611361
                            .catalog-compl-sertificates__item__subtitle программы для ЭВМ
                            .catalog-compl-sertificates__item__description
                                ul
                                    li <b>С-Терра Клиент А ST</b>
                                    li От 26.01.2021
            .catalog-compl-sertificates-slider__control.js-slider-control-2
                button.btn.btn-primary-inverse.btn-round(data-controls="prev")
                    +svg-icon('chevron-left', 7, 12)
                button.btn.btn-primary-inverse.btn-round(data-controls="next")
                    +svg-icon('chevron-right', 7, 12)
                a.btn.btn-primary-inverse(href="#") Все свидетельства