.row.team
    .col.col-12.col-sm-7.col-md-7
        .pressweb-item-page__team
            img(src="./img/team/1.png")
            .pressweb-item-page__team__text 
                strong Дмитрий Махоткин,
                span инженер отдела технического консалтинга ООО «С-Терра СиЭсПи»
        .pressweb-item-page__team
            img(src="./img/team/2.png")
            .pressweb-item-page__team__text
                strong Максим Мельшиян,
                span инженер отдела технического консалтинга ООО «С-Терра СиЭсПи»
        .pressweb-item-page__team
            img(src="./img/team/3.png")
            .pressweb-item-page__team__text
                strong Андрей Работинский,
                span ведущий инженер отдела технического консалтинга ООО «С-Терра СиЭсПи»
    .col.col-12.col-sm-5.col-md-5
        button.btn.btn-primary-inverse.btn-lg.m-b
            .btn-icon
                +svg-icon('upload-item', 22, 18)
                | Скачать презентацию PDF