mixin apps(colored)
  .apps(class=colored && 'colored')
    .apps-block
      .apps-title Мы в мессенджерах
      ul.apps-list
        li
          a.app-icon.app-icon-wa(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/wa.png")
            img.colored-icon(src="./img/apps/wa-color.png")
        li
          a.app-icon.app-icon-tg(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/tg.png")
            img.colored-icon(src="./img/apps/tg-color.png")
    .apps-block
      .apps-title Мы в соцсетях
      ul.apps-list
        li
          a.app-icon.app-icon-fb(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/fb.png")
            img.colored-icon(src="./img/apps/fb-color.png")
        li
          a.app-icon.app-icon-yt(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/yt.png")
            img.colored-icon(src="./img/apps/yt-color.png")
        li
          a.app-icon.app-icon-vk(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/vk.png")
            img.colored-icon(src="./img/apps/vk-color.png")
        li
          a.app-icon.app-icon-in(href="#" target="_blank" rel="noopener noreferrer nofollow")
            img.icon(src="./img/apps/in.png")
            img.colored-icon(src="./img/apps/in-color.png")
