.support-course-item
    .container
        .support-course-item-wrap
            .support-course-item__content
                .support-course-item__title <b>Урок 2:</b> Как быстро развернуть демо стенд?
                .support-course-item__content__video
                    .support-course-item__content__video__wrap
                        .support-course-item__content__video__image
                            img(src="./img/support-education/video-big.png")
                        .support-course-item__content__video__icon
                            svg
                                use(href="./img/icons/icon-sprite.svg#youtube-play")
                    .support-course-item__content__video__description
                        p Берите и пробуйте! Небольшой Quick start guide по работе с демо от компании «С-Терра СиЭсПи».
                        p Портал документации: <a href="#">www.doc.s-terra.ru</a> <br>
                            | Все команды из видеоурока: <a href="#">www.cloud.s-terra.com/index.php/s/rqNmFRkRDsao52O </a><br>
                            | Гипервизор: шаблоны виртуальных машин адаптированы под VMWare Player, VMWare Workstation.
                    .support-course-item__content__video__buttons
                        a.btn.btn-primary-inverse.btn-round(href="#")
                            +svg-icon('chevron-left', 7, 12)
                        a.btn.btn-primary-inverse.btn-round(href="#")
                            +svg-icon('chevron-right', 7, 12)

            .support-course-item__side.support-course-item__side__video
                .support-course-item__side__wrap
                    .support-course-item__side__title.mobile Другие видеоуроки
                    .support-course-item__side__video__container
                        .support-course-item__side__video__item
                            a.support-course-item__side__video__item__wrap(href="#")
                                .support-course-item__side__video__item-image
                                    img(src='./img/support-education/video-3.png')
                                .support-course-item__side__video__item__title <b>Урок 3:</b> Как развернуть собственный Удостоверяющий Центр?
                        .support-course-item__side__video__item
                            a.support-course-item__side__video__item__wrap(href="#")
                                .support-course-item__side__video__item-image
                                    img(src='./img/support-education/video-4.png')
                                .support-course-item__side__video__item__title <b>Урок 4:</b> IPsec VPN ГОСТ. Как создать цифровой сертификат?
                        .support-course-item__side__video__item
                            a.support-course-item__side__video__item__wrap(href="#")
                                .support-course-item__side__video__item-image
                                    img(src='./img/support-education/video-5.png')
                                .support-course-item__side__video__item__title <b>Урок 5:</b> IPsec VPN ГОСТ. Как конвертировать ключевой контейнер?
                    a.btn.btn-primary-inverse.support-course-item__side__video__btn Все видеоуроки


