.support-course-item.support-course-item-2
    .container
        .support-course-item-wrap
            .support-course-item__content
                .support-course-item__title <b>Курс 1.</b> Защита сетевой инфраструктуры на основе продуктов С-Терра
                .support-course-item__blocks
                    .support-course-item__blocks__col
                        .support-course-item__block
                            .support-course-item__block__title Место
                            .support-course-item__block__value Собственный обучающий семинар. г. Зеленоград, ОЭЗ Технополис Москва, ул. Конструктора Лукина, д. 14, стр. 12.
                        .support-course-item__block
                            .support-course-item__block__title Тренеры
                            .support-course-item__block__value Инженеры компании «С-Терра СиЭсПи».
                        .support-course-item__block
                            .support-course-item__block__title Документ
                            .support-course-item__block__value По итогам обучения выдается сертификат установленного образца.
                    .support-course-item__blocks__col
                        .support-course-item__block
                            .support-course-item__block__title Длительность
                            .support-course-item__block__value 2 дня
                        .support-course-item__block
                            .support-course-item__block__title Стоимость участия 1 человека
                            .support-course-item__block__value 20 000 ₽
                .support-course-item__attention
                    p Семинар предназначен для партнеров и заказчиков компании «С-Терра СиЭсПи».
                    p Даты проведения семинара согласовываются индивидуально. Программа семинара может быть скорректирована с учетом пожеланий слушателей.

                .support-course-item__buttons
                    a.btn.btn-primary.btn-lg(href="#vacancy-form") Записаться на курс
                    button.btn.btn-primary-inverse.btn-lg
                        svg.btn-icon.desktop
                            use(href="./img/icons/icon-sprite.svg#download-arrow")
                        svg.btn-icon.mobile
                            use(href="./img/icons/icon-sprite.svg#download-arrow-mobile")
                        span Программа
                .support-course-item__list
                    .support-course-item__list__title Слушателям для успешного участия в семинаре необходимо:
                    ul
                        li Иметь опыт работы с сетевым оборудованием Cisco (Cisco IOS Routers).
                        li Иметь начальные знания ОС Linux, Windows.
                        li Хорошо знать теорию и терминологию сетевых технологий и технологий защиты информации (в первую очередь в рамках протоколов IKE/IPsec).
                    button.btn.btn-primary-inverse.support-course-item__list__btn К списку курсов
            .support-course-item__side
                .support-course-item__side__wrap
                    .support-course-item__side__title Другие курсы
                    .support-course-item__side__container
                        a.support-course-item__side__item(href="#")
                            .support-course-item__side__item__text <b>Курс 2.</b> Защита сетевой инфраструктуры на основе продуктов С-Терра
                        a.support-course-item__side__item(href="#")
                            .support-course-item__side__item__text <b>Курс 3.</b> Защита сетевой инфраструктуры на основе продуктов S-Terra и решений Cisco Systems
                        a.support-course-item__side__item(href="#")
                            .support-course-item__side__item__text <b>Курс 4.</b> Построение защищенных виртуальных сетей на основе IPsec с использованием алгоритмов шифрования ГОСТ на базе шлюзов безопасности С-Терра (ver. 4.2)
                    button.btn.btn-primary-inverse.support-course-item__side__btn Все курсы
