block content

    .industry-card-table
        .container
            .industry-card-table__title Решения С-Терра для различных задач организаций государственного сектора
            .industry-card-table__wrap
                .table
                    .table__head
                        .table__head__mobile
                            span Решения С-Терра / Продукты С-Терра / Описание
                        .table__head-item
                        .table__head-item Решения С-Терра
                        .table__head-item Продукты С-Терра
                        .table__head-item Описание
                    .table__body
                        .table__body-row
                            .table__body-row-item
                                .table__body-row-item__title Защита взаимодействия между отделениями одной организации
                            .table__body-row-item
                                p Защита межфилиальных взаимодействий
                            .table__body-row-item
                                a.link(href="#") С-Терра Шлюз
                                a.link(href="#") С-Терра Виртуальный Шлюз
                                a.link(href="#") Криптомаршрутизатор ESR-ST
                                a.link(href="#") С-Терра СОВ
                                a.link(href="#") С-Терра КП
                            .table__body-row-item
                                p Защита любого сетевого трафика при передаче по открытым каналам связи.
                                p Широкая линейка продуктов в различных форм-факторах, UTM-устройства, система обнаружения вторжений.
                                p Масштабирование производительности.

                        .table__body-row
                            .table__body-row-item
                                .table__body-row-item__title Удаленный доступ отрудников, работающих вне организации
                            .table__body-row-item
                                p Защита удаленного доступа
                            .table__body-row-item
                                a.link(href="#") С-Терра Клиент
                                a.link(href="#") С-Терра Клиент А
                                a.link(href="#") С-Терра Юнит
                                a.link(href="#") С-Терра КП
                            .table__body-row-item
                                p Удаленный доступ сотрудников в защищенную сеть компании через интернет с помощью программных клиентов для различных ОС и персонального шлюза безопасности.

                        .table__body-row
                            .table__body-row-item
                                .table__body-row-item__title Подключение к СМЭВ
                            .table__body-row-item
                                p Подключение к СМЭВ
                            .table__body-row-item
                                a.link(href="#") С-Терра Шлюз
                            .table__body-row-item
                                p Рекомендовано Минкомсвязи России к использованию.

                        .table__body-row
                            .table__body-row-item
                                .table__body-row-item__title Защита взаимодействия с ЦОД или между ЦОД
                            .table__body-row-item
                                p Защита высокопроизводительных каналов связи
                            .table__body-row-item
                                a.link(href="#") С-Терра Шлюз
                                a.link(href="#") С-Терра Шлюз DP
                            .table__body-row-item
                                p Защита каналов производительностью 10 Гбит/с и 40 Гбит/с с помощью одной пары шлюзов.
                                p Использование кластера мощных шлюзов для защиты каналов большей производительности.

                        .table__body-row
                            .table__body-row-item
                                .table__body-row-item__title Защита взаимодействия с зарубежными филиалами
                            .table__body-row-item
                                p Защита трансграничного взаимодействия
                            .table__body-row-item
                                a.link(href="#") С-Терра Шлюз E
                            .table__body-row-item
                                p Экспортное исполнение для работы за пределами РФ.
                                p Упрощенное оформление разрешения на вывоз.