<!-- INFO -->

.home-info
  .container
    .row
      .col.col-12.col-sm-6.col-md-7.col-lg-8
        a.home-info-company.card(href="#")
          .home-info-company__container
            .home-info-company__icons
              img(src="./img/icons/info.png" width="240")

            .home-info-company__content
              h2.home-info-company__title Разрабатываем и производим средства сетевой информационной безопасности

              .home-info-company__text На основе технологии IPsec VPN обеспечиваем защиту межсетевых взаимодействий, беспроводных и мультисервисных сетей, безопасность работы удаленных и мобильных пользователей.
              .home-info-company__link
                span.btn.btn-primary-inverse О компании

      .col.col-12.col-sm-6.col-md-5.col-lg-4
        a.home-info-products.card.card--dark(href="#")
          .home-info-products__container
            h2.home-info-products__title Вся продуктовая линейка ООО «С&#8209;Терра СиЭсПи»
            div.home-info-products__text Ознакомьтесь с линейкой нашей продукции
            div.home-info-products__link
              span.btn.btn-accent Перейти в каталог

<!-- /INFO -->
