mixin review-item()

    .review-item
        .review-item-wrap
            .review-item__image
                img(src="./img/vacant/user.png")
            .review-item__text
                .review-item__text__title Андрей Работинский
                .review-item__text__position Ведущий пресейл-инженер
                .review-item__text__content
                    p Читая отзывы коллег о работе в компании, могу смело подписаться под каждым из них. Действительно, компания даёт все возможности для профессионального и карьерного роста, главное — это желание развиваться. Здесь вы сможете реализовать себя, ведь руководство всегда открыто для новых идей по развитию компании.
                    p Большое внимание уделяется удобству работу сотрудников. Все внутренние процессы автоматизированы и постоянно оптимизируются под нужды каждого из членов команды. Также созданы комфортабельные условия труда, недавно переехали в новый офис. Сотрудники обеспечены всем, что им требуется для продуктивной работы.
