
block content
    .company-mission
        .container
            .company-mission__block
                .company-mission__title Миссия компании
                .company-mission__description Адаптация проверенных мировых технологий в области построения VPN к реалиям отечественного рынка, таким как выполнение требований российского законодательства и применение отечественных криптоалгоритмов
                .company-mission-wrap
                    .company-mission__img
                        img(src="./img/about/about-image.png", alt="")
                    .company-mission-content
                        .company-mission-content__title Наша цель
                        .company-mission-content__description Обеспечить российский рынок современными решениями для построения VPN. При создании продуктов компания опирается на следующие принципы:
                        ul.company-mission-content__list
                            li.company-mission-content__list-item использовать международные технические стандарты (в частности, IP Security Architecture (IPsec))
                            li.company-mission-content__list-item приблизить решения по идеологии к индустриальным стандартам де-факто
                            li.company-mission-content__list-item обеспечить возможность работы на российских криптографических алгоритмах и сертификацию в российских органах технического регулирования (ФСБ России; ФСТЭК России)