<!-- QUESTION FORM -->

include ../../mixins/modal.pug
+modal('question')
  h2.modal-title Задать вопрос

  form#ask-question-form.ask-question-form(action="./backend/question-form.json" method="GET")
    .form-field
      label.form-label(for="question-name") ФИО*
      input#question-name.form-control(name="name")
    .form-field
      label.form-label(for="question-company") Название компании*
      input#question-company.form-control(name="company")
    .row
      .col.col-12.col-sm-6
        .form-field
          label.form-label(for="question-mail") Электронная почта*
          input#question-mail.form-control(name="email" inputmode="email")
      .col.col-12.col-sm-6
        .form-field
          label.form-label(for="question-phone") Номер телефона
          input#question-phone.form-control(data-mask="phone" inputmode="number" name="phone" placeholder="+7 (___) ___-__-__")
    .form-field
      label.form-label(for="question-text") Ваш вопрос
      textarea#question-text.form-control(name="question")
    .form-field.ask-question-form__confirm
      label.checkbox
        input#question-agreement(type="checkbox" name="agreement")
        span.checkbox-box
        .checkbox-label Даю согласие на обработку своих персональных данных в соответствии с #[a(href="#") Политикой обработки персональных данных ООО «С-Терра СиЭсПи»].
    button.btn.btn-primary.btn-block(type="submit") Отправить

<!-- /QUESTION FORM -->
